In [1]:
from pathlib import Path
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, split, explode
from pyspark.sql.types import StringType, IntegerType, BooleanType, FloatType, TimestampType

DATA_DIR = Path("data/ml-latest-small")

In [2]:
spark = SparkSession.builder\
    .master("local")\
    .appName("Word Count")\
    .getOrCreate()

In [3]:
# TODO: Spark schemas?
def read_df(file: str, types: dict):
    df = spark.read\
        .format("csv")\
        .option("header", "true")\
        .load(str(DATA_DIR / file))
    return set_dtypes(df, types)

def set_dtypes(df, types: dict):
    for column, dtype in types.items():
        dtype = {
            str: StringType(),
            int: IntegerType(),
            float: FloatType(),
            bool: BooleanType(),
            "time": TimestampType() 
        }[dtype]
        df = df.withColumn(column, col(column).cast(dtype))
    return df

df_links = read_df("links.csv", {
    "movieId": int,
    "imdbId": int,
    "tmdbId": int
})
df_movies = read_df("movies.csv", {
    "movieId": int,
    "title": str,
    "genres": str
})
df_ratings = read_df("ratings.csv", {
    "userId": int,
    "movieId": int,
    "rating": float,
    "timestamp": "time"
})
df_tags = read_df("tags.csv", {
    "userId": int,
    "movieId": int,
    "tag": str,
    "timestamp": "time"
})

In [4]:
# Given a user, get the number of movies watched per genre
def search_user(user_id: int):
    rated_movies = df_ratings.filter(df_ratings.userId == user_id).select("movieId").distinct()
    tagged_movies = df_tags.filter(df_tags.userId == user_id).select("movieId").distinct()
    movies = rated_movies.union(tagged_movies).distinct().join(df_movies, on=["movieId"], how="inner")
    movies = movies.select(movies.movieId, explode(split(movies.genres, "\|")).alias("genre"))
    movies = movies.groupBy("genre").count()
    return movies.collect()
search_user(1)

[Row(genre='Crime', count=45),
 Row(genre='Romance', count=26),
 Row(genre='Thriller', count=55),
 Row(genre='Adventure', count=85),
 Row(genre='Drama', count=68),
 Row(genre='War', count=22),
 Row(genre='Fantasy', count=47),
 Row(genre='Mystery', count=18),
 Row(genre='Musical', count=22),
 Row(genre='Animation', count=29),
 Row(genre='Film-Noir', count=1),
 Row(genre='Horror', count=17),
 Row(genre='Western', count=7),
 Row(genre='Comedy', count=83),
 Row(genre='Children', count=42),
 Row(genre='Action', count=90),
 Row(genre='Sci-Fi', count=40)]

In [5]:
df_ratings.filter("userId = 21").filter("movieId=1").collect()

[Row(userId=21, movieId=1, rating=3.5, timestamp=None)]

In [6]:
# Given a list of users, search all movies watched by each user
def search_movies_by_users(user_ids: [int]):
    rated_movies = df_ratings.filter(df_ratings.userId.isin(user_ids))
    tagged_movies = df_tags.filter(df_tags.userId.isin(user_ids))
    movies = rated_movies.join(tagged_movies, on=["userId", "movieId"], how="outer")
    movies = movies.select("userId", "movieId").distinct()
    movies = movies.groupBy("movieId").count().join(df_movies, on=["movieId"]).select("title", "count")
    return movies.collect()
search_movies_by_users([1, 21])

Row(title='Pride & Prejudice (2005)', count=1),
 Row(title='Who Framed Roger Rabbit? (1988)', count=1),
 Row(title='Pink Floyd: The Wall (1982)', count=1),
 Row(title='Logan (2017)', count=1),
 Row(title='Teenage Mutant Ninja Turtles III (1993)', count=1),
 Row(title='Ratatouille (2007)', count=1),
 Row(title='Transformers: The Movie (1986)', count=1),
 Row(title='Kingsman: The Secret Service (2015)', count=1),
 Row(title='The Interview (2014)', count=1),
 Row(title='Moonraker (1979)', count=1),
 Row(title='Monty Python and the Holy Grail (1975)', count=1),
 Row(title='Jurassic Park III (2001)', count=1),
 Row(title='Predator (1987)', count=1),
 Row(title='Dennis the Menace (1993)', count=1),
 Row(title='Collateral (2004)', count=1),
 Row(title='Welcome to Woop-Woop (1997)', count=1),
 Row(title='Big Lebowski, The (1998)', count=1),
 Row(title='Frozen (2013)', count=1),
 Row(title='Die Hard: With a Vengeance (1995)', count=1),
 Row(title='Terminator, The (1984)', count=2),
 Row(title='Office Christmas Party (2016)', count=1),
 Row(title='Fifth Element, The (1997)', count=1),
 Row(title='Willy Wonka & the Chocolate Factory (1971)', count=1),
 Row(title='Dances with Wolves (1990)', count=1),
 Row(title='Sneakers (1992)', count=1),
 Row(title='Pitch Perfect 2 (2015)', count=1),
 Row(title='Born to Kill (1947)', count=1),
 Row(title='Mamma Mia! (2008)', count=1),
 Row(title='Stargate (1994)', count=1),
 Row(title='Predator 2 (1990)', count=1),
 Row(title='Short Circuit (1986)', count=1),
 Row(title='Rocky Horror Picture Show, The (1975)', count=1),
 Row(title="It's a Very Merry Muppet Christmas Movie (2002)", count=1),
 Row(title='Blazing Saddles (1974)', count=1),
 Row(title='Idiocracy (2006)', count=1),
 Row(title='13th Warrior, The (1999)', count=1),
 Row(title='Hitch (2005)', count=1),
 Row(title='Wolf Man, The (1941)', count=1),
 Row(title='Psycho (1960)', count=1),
 Row(title='Dumb & Dumber (Dumb and Dumber) (1994)', count=1),
 Row(title='First Blood (Rambo: First Blood) (1982)', count=1),
 Row(title='Three Musketeers, The (1993)', count=1),
 Row(title='American Tail, An (1986)', count=1),
 Row(title='Mission: Impossible - Rogue Nation (2015)', count=1),
 Row(title='Labyrinth (1986)', count=1),
 Row(title='Home Alone (1990)', count=1),
 Row(title='Jungle Book, The (1967)', count=1),
 Row(title='Holiday, The (2006)', count=1),
 Row(title='Peter Pan (1953)', count=1),
 Row(title='Great Mouse Detective, The (1986)', count=1),
 Row(title='Toy Story 2 (1999)', count=1),
 Row(title='Dictator, The (2012)', count=1),
 Row(title='Blown Away (1994)', count=1),
 Row(title='Terminal, The (2004)', count=1),
 Row(title='Interstellar (2014)', count=1),
 Row(title='Iron Man (2008)', count=1),
 Row(title='Zootopia (2016)', count=1),
 Row(title='Big Trouble in Little China (1986)', count=1),
 Row(title='Kill Bill: Vol. 1 (2003)', count=1),
 Row(title='Goldfinger (1964)', count=2),
 Row(title='Ghostbusters (a.k.a. Ghost Busters) (1984)', count=2),
 Row(title='Tourist, The (2010)', count=1),
 Row(title='Song of the South (1946)', count=1),
 Row(title='Rush Hour (1998)', count=2),
 Row(title='Batman Returns (1992)', count=1),
 Row(title='Pirates of the Caribbean: The Curse of the Black Pearl (2003)', count=1),
 Row(title='Brave (2012)', count=1),
 Row(title='Amazing Spider-Man, The (2012)', count=1),
 Row(title='Beetlejuice (1988)', count=2),
 Row(title='Wedding Date, The (2005)', count=1),
 Row(title='Meet the Fockers (2004)', count=1),
 Row(title='300 (2007)', count=1),
 Row(title='Edge of Tomorrow (2014)', count=1),
 Row(title='Dazed and Confused (1993)', count=1),
 Row(title='Rise of the Planet of the Apes (2011)', count=1),
 Row(title='Rock, The (1996)', count=2),
 Row(title='I Still Know What You Did Last Summer (1998)', count=1),
 Row(title='Scream 3 (2000)', count=1),
 Row(title='Lone Ranger, The (2013)', count=1),
 Row(title='Proposal, The (2009)', count=1),
 Row(title='Bourne Legacy, The (2012)', count=1),
 Row(title='Iron Man 3 (2013)', count=1),
 Row(title='Die Hard (1988)', count=1),
 Row(title='Ride Along (2014)', count=1),
 Row(title='Alice in Wonderland (2010)', count=1),
 Row(title='Excalibur (1981)', count=1),
 Row(title='Live and Let Die (1973)', count=2),
 Row(title='Rambo: First Blood Part II (1985)', count=1),
 Row(title='Music and Lyrics (2007)', count=1),
 Row(title='Thunderball (1965)', count=2),
 Row(title='Sherlock Holmes (2009)', count=1),
 Row(title='Flight of the Navigator (1986)', count=1),
 Row(title='Ted (2012)', count=1),
 Row(title="You've Got Mail (1998)", count=1),
 Row(title='Forgetting Sarah Marshall (2008)', count=1),
 Row(title='Star Wars: The Clone Wars (2008)', count=1),
 Row(title='Spy (2015)', count=1),
 Row(title='Real Steel (2011)', count=1),
 Row(title='Ladyhawke (1985)', count=1),
 Row(title='Southpaw (2015)', count=1),
 Row(title='Duck Soup (1933)', count=1),
 Row(title='Fight Club (1999)', count=2),
 Row(title='Multiplicity (1996)', count=1),
 Row(title='Bourne Identity, The (2002)', count=1),
 Row(title='Swingers (1996)', count=1),
 Row(title='Quantum of Solace (2008)', count=1),
 Row(title='X-Men: Days of Future Past (2014)', count=1),
 Row(title="Ocean's Twelve (2004)", count=1),
 Row(title='Twister (1996)', count=1),
 Row(title='The Amazing Spider-Man 2 (2014)', count=1),
 Row(title='Mission: Impossible (1996)', count=2),
 Row(title='Ghostbusters II (1989)', count=1),
 Row(title='La La Land (2016)', count=1),
 Row(title='Austin Powers in Goldmember (2002)', count=1),
 Row(title='Wolf of Wall Street, The (2013)', count=1),
 Row(title='Ice Age (2002)', count=1),
 Row(title='Grand Budapest Hotel, The (2014)', count=1),
 Row(title='Star Wars: Episode VII - The Force Awakens (2015)', count=1),
 Row(title='Paul Blart: Mall Cop 2 (2015)', count=1),
 Row(title='Kiss the Girls (1997)', count=1),
 Row(title='Thousand Words, A (2012)', count=1),
 Row(title='Dogma (1999)', count=1),
 Row(title='Blind Side, The  (2009)', count=1),
 Row(title='Harry Potter and the Chamber of Secrets (2002)', count=1),
 Row(title='Bad Boys II (2003)', count=1),
 Row(title='Aliens (1986)', count=1),
 Row(title='American Pie Presents Beta House (American Pie 6: Beta House) (2007)', count=1),
 Row(title='Annie Hall (1977)', count=1),
 Row(title='Legend (1985)', count=1),
 Row(title='So I Married an Axe Murderer (1993)', count=1),
 Row(title='James and the Giant Peach (1996)', count=1),
 Row(title='Kill Bill: Vol. 2 (2004)', count=1),
 Row(title='Click (2006)', count=1),
 Row(title='Transformers: Revenge of the Fallen (2009)', count=1),
 Row(title='Man with the Golden Gun, The (1974)', count=2),
 Row(title='War of the Worlds (2005)', count=1),
 Row(title='Decoy Bride, The (2011)', count=1),
 Row(title="On Her Majesty's Secret Service (1969)", count=1),
 Row(title='Transporter, The (2002)', count=1),
 Row(title='Game, The (1997)', count=1),
 Row(title='2012 (2009)', count=1),
 Row(title='Bolt (2008)', count=1),
 Row(title='JFK (1991)', count=1),
 Row(title='Guardians of the Galaxy (2014)', count=1),
 Row(title='Terminator 2: Judgment Day (1991)', count=1),
 Row(title='GoldenEye (1995)', count=1),
 Row(title='Kung Fu Panda (2008)', count=1),
 Row(title='Wedding Crashers (2005)', count=1),
 Row(title='Blade (1998)', count=1),
 Row(title='Transformers: Dark of the Moon (2011)', count=1),
 Row(title='Superman II (1980)', count=1),
 Row(title='Usual Suspects, The (1995)', count=1),
 Row(title='The Little Prince (2015)', count=1),
 Row(title='Alien (1979)', count=2),
 Row(title='Rushmore (1998)', count=1),
 Row(title='Easy Rider (1969)', count=1),
 Row(title="Pirates of the Caribbean: At World's End (2007)", count=1),
 Row(title="Schindler's List (1993)", count=1),
 Row(title='Harry Potter and the Prisoner of Azkaban (2004)', count=1),
 Row(title='Catch Me If You Can (2002)', count=1),
 Row(title='Back to the Future Part III (1990)', count=2),
 Row(title='Notting Hill (1999)', count=1),
 Row(title='Léon: The Professional (a.k.a. The Professional) (Léon) (1994)', count=1),
 Row(title='Batman: The Dark Knight Returns, Part 1 (2012)', count=1),
 Row(title='Kick-Ass (2010)', count=1),
 Row(title='Good Will Hunting (1997)', count=1),
 Row(title='The Purge: Election Year (2016)', count=1),
 Row(title="King's Speech, The (2010)", count=1),
 Row(title='Billy Madison (1995)', count=1),
 Row(title='The Escort (2015)', count=1),
 Row(title='Stretch (2014)', count=1),
 Row(title='Lethal Weapon 4 (1998)', count=1),
 Row(title='Thor: The Dark World (2013)', count=1),
 Row(title='Modern Times (1936)', count=1),
 Row(title='It Takes Two (1995)', count=1),
 Row(title='Casino Royale (1967)', count=1),
 Row(title='Police Academy (1984)', count=1),
 Row(title='Lion King, The (1994)', count=1),
 Row(title='Dark Knight Rises, The (2012)', count=1),
 Row(title='Star Wars: Episode II - Attack of the Clones (2002)', count=1),
 Row(title='Films to Keep You Awake: The Christmas Tale (Películas para no dormir: Cuento de navidad) (2005)', count=1),
 Row(title='Avengers, The (2012)', count=1),
 Row(title='Ghost and the Darkness, The (1996)', count=1),
 Row(title='Forrest Gump (1994)', count=2),
 Row(title='Surviving Christmas (2004)', count=1),
 Row(title='Deadpool (2016)', count=1),
 Row(title='Burnt (2015)', count=1),
 Row(title='SLC Punk! (1998)', count=1),
 Row(title='American Beauty (1999)', count=2),
 Row(title='Frankenstein (1931)', count=1),
 Row(title='Black Cauldron, The (1985)', count=1),
 Row(title="Gulliver's Travels (1939)", count=1),
 Row(title='Goodfellas (1990)', count=1),
 Row(title='Satanic (2016)', count=1),
 Row(title='Slumdog Millionaire (2008)', count=1),
 Row(title='From Dusk Till Dawn (1996)', count=1),
 Row(title='Planet of the Apes (1968)', count=2),
 Row(title='Hobbit: The Desolation of Smaug, The (2013)', count=1),
 Row(title='You Only Live Twice (1967)', count=1),
 Row(title='Jurassic Park (1993)', count=2),
 Row(title='Captain America: The First Avenger (2011)', count=1),
 Row(title='Chronicles of Narnia: The Lion, the Witch and the Wardrobe, The (2005)', count=1),
 Row(title='Hancock (2008)', count=1),
 Row(title='Die Another Day (2002)', count=1),
 Row(title='Naked Gun: From the Files of Police Squad!, The (1988)', count=1),
 Row(title='Knight and Day (2010)', count=1),
 Row(title='Secret of NIMH, The (1982)', count=1),
 Row(title='From Russia with Love (1963)', count=2),
 Row(title='Cruel Intentions (1999)', count=1),
 Row(title='Despicable Me 2 (2013)', count=1),
 Row(title='Godfather: Part II, The (1974)', count=1),
 Row(title='Edward Scissorhands (1990)', count=1),
 Row(title="Wayne's World (1992)", count=2),
 Row(title='Conan the Barbarian (1982)', count=1),
 Row(title='John Wick: Chapter Two (2017)', count=1),
 Row(title="Dr. Horrible's Sing-Along Blog (2008)", count=1),
 Row(title='Con Air (1997)', count=1),
 Row(title='Lord of the Rings, The (1978)', count=1),
 Row(title='Naked Gun 2 1/2: The Smell of Fear, The (1991)', count=1),
 Row(title='The Good Dinosaur (2015)', count=1),
 Row(title='Doctor Strange (2016)', count=1),
 Row(title='Nosferatu (Nosferatu, eine Symphonie des Grauens) (1922)', count=1),
 Row(title='That Thing You Do! (1996)', count=1),
 Row(title='Monsters University (2013)', count=1),
 Row(title='Bag Man, The (2014)', count=1),
 Row(title='John Wick (2014)', count=1),
 Row(title='Men in Black III (M.III.B.) (M.I.B.³) (2012)', count=1),
 Row(title='Big Eyes (2014)', count=1),
 Row(title='Small Soldiers (1998)', count=1),
 Row(title='Spider-Man 2 (2004)', count=1),
 Row(title='American Pie Presents The Naked Mile (American Pie 5: The Naked Mile) (2006)', count=1),
 Row(title='Living Daylights, The (1987)', count=1),
 Row(title='Psycho (1998)', count=1),
 Row(title='Howard the Duck (1986)', count=1),
 Row(title='Star Wars: Episode III - Revenge of the Sith (2005)', count=1),
 Row(title='Fantasia (1940)', count=1),
 Row(title='Fantastic Four (2005)', count=1),
 Row(title='Fugitive, The (1993)', count=1),
 Row(title='World Is Not Enough, The (1999)', count=1),
 Row(title='Wreck-It Ralph (2012)', count=1),
 Row(title='Rob Roy (1995)', count=1),
 Row(title='Shrek (2001)', count=1),
 Row(title='How to Train Your Dragon 2 (2014)', count=1),
 Row(title='Fargo (1996)', count=1),
 Row(title='Drinking Buddies (2013)', count=1),
 Row(title='22 Jump Street (2014)', count=1),
 Row(title='Ghost and Mrs. Muir, The (1947)', count=1),
 Row(title='Limitless (2011)', count=1),
 Row(title='Batman (1989)', count=2),
 Row(title='Winnie the Pooh and the Blustery Day (1968)', count=1),
 Row(title='Veronica Mars (2014)', count=1),
 Row(title='X-Files: Fight the Future, The (1998)', count=1),
 Row(title='Bad Boys (1995)', count=1),
 Row(title="Ocean's Eleven (2001)", count=1),
 Row(title='Sister Act (1992)', count=1),
 Row(title='Adventures of Robin Hood, The (1938)', count=1),
 Row(title='L.A. Confidential (1997)', count=1),
 Row(title='Return to Oz (1985)', count=1),
 Row(title='Toys (1992)', count=1),
 Row(title='Thin Red Line, The (1998)', count=1),
 Row(title='Beauty and the Beast: The Enchanted Christmas (1997)', count=1),
 Row(title='Mission: Impossible III (2006)', count=1),
 Row(title='Lord of the Rings: The Two Towers, The (2002)', count=1),
 Row(title='Iron Man 2 (2010)', count=1),
 Row(title='Neighbors (2014)', count=1),
 Row(title='Wallace & Gromit in The Curse of the Were-Rabbit (2005)', count=1),
 Row(title='Last of the Mohicans, The (1992)', count=1),
 Row(title='Lost World: Jurassic Park, The (1997)', count=1),
 Row(title='Hackers (1995)', count=1),
 Row(title='Star Wars: Episode V - The Empire Strikes Back (1980)', count=2),
 Row(title='Coffee Town (2013)', count=1),
 Row(title='Hellboy (2004)', count=1),
 Row(title='Jumper (2008)', count=1),
 Row(title='Sing (2016)', count=1),
 Row(title='Licence to Kill (1989)', count=1),
 Row(title='Rewrite, The (2014)', count=1),
 Row(title='Black Swan (2010)', count=1),
 Row(title='Naked Gun 33 1/3: The Final Insult (1994)', count=1),
 Row(title='Die Hard 2 (1990)', count=1),
 Row(title='Spider-Man (2002)', count=1),
 Row(title='Face/Off (1997)', count=2),
 Row(title='Total Recall (1990)', count=2),
 Row(title='Tangled Ever After (2012)', count=1),
 Row(title='Negotiator, The (1998)', count=1),
 Row(title='Da Vinci Code, The (2006)', count=1),
 Row(title='Three Caballeros, The (1945)', count=1),
 Row(title='Braveheart (1995)', count=1),
 Row(title='Heat, The (2013)', count=1),
 Row(title='Home Alone 2: Lost in New York (1992)', count=1),
 Row(title='Blade Runner (1982)', count=1),
 Row(title='Star Wars: Episode IV - A New Hope (1977)', count=2),
 Row(title='Texas Chainsaw Massacre, The (1974)', count=1),
 Row(title='Lethal Weapon 2 (1989)', count=1),
 Row(title='White House Down (2013)', count=1),
 Row(title='Saving Private Ryan (1998)', count=1),
 Row(title='Maze Runner, The (2014)', count=1),
 Row(title='Pirates of the Caribbean: Dead Men Tell No Tales (2017)', count=1),
 Row(title='V for Vendetta (2006)', count=1),
 Row(title='Enemy of the State (1998)', count=1),
 Row(title="Monty Python's Life of Brian (1979)", count=1),
 Row(title='Henry V (1989)', count=1),
 Row(title='¡Three Amigos! (1986)', count=1),
 Row(title='Lord of the Rings: The Return of the King, The (2003)', count=1),
 Row(title='Winnie the Pooh and the Honey Tree (1966)', count=1),
 Row(title='Clear and Present Danger (1994)', count=1),
 Row(title='Mission: Impossible II (2000)', count=1),
 Row(title='Terminator Salvation (2009)', count=1),
 Row(title='Pacific Rim (2013)', count=1),
 Row(title='Life of Pi (2012)', count=1),
 Row(title='Meet the Parents (2000)', count=1),
 Row(title='American Hustle (2013)', count=1),
 Row(title='Inside Out (2015)', count=1),
 Row(title='Mummy, The (1999)', count=2),
 Row(title="Breakfast at Tiffany's (1961)", count=1),
 Row(title='Social Network, The (2010)', count=1),
 Row(title='Red (2010)', count=1),
 Row(title='Sixth Sense, The (1999)', count=1),
 Row(title='M*A*S*H (a.k.a. MASH) (1970)', count=1),
 Row(title='Avatar (2009)', count=1),
 Row(title='10 Cent Pistol (2015)', count=1),
 Row(title='Pan (2015)', count=1),
 Row(title='Rocky (1976)', count=1),
 Row(title='Goonies, The (1985)', count=1),
 Row(title='Night at the Museum (2006)', count=1),
 Row(title='Good Morning, Vietnam (1987)', count=1),
 Row(title='Dirty Dozen, The (1967)', count=1),
 Row(title='Jumanji (1995)', count=1),
 Row(title='Four Christmases (2008)', count=1),
 Row(title='How the Grinch Stole Christmas (a.k.a. The Grinch) (2000)', count=1),
 Row(title='Minions (2015)', count=1),
 Row(title='Diamonds Are Forever (1971)', count=1),
 Row(title='Indiana Jones and the Temple of Doom (1984)', count=2),
 Row(title='Monsters, Inc. (2001)', count=1),
 Row(title='Basic Instinct (1992)', count=1),
 Row(title='Lethal Weapon (1987)', count=2),
 Row(title='Jurassic World (2015)', count=1),
 Row(title='Road Trip (2000)', count=2),
 Row(title='National Treasure (2004)', count=1),
 Row(title="Charlotte's Web (1973)", count=1),
 Row(title='Men in Black II (a.k.a. MIIB) (a.k.a. MIB 2) (2002)', count=1),
 Row(title='Romancing the Stone (1984)', count=1),
 Row(title='Gladiator (2000)', count=2),
 Row(title='Back to the Future Part II (1989)', count=1),
 Row(title='Wild Things (1998)', count=1),
 Row(title='Simpsons: The Longest Daycare, The (2012)', count=1),
 Row(title='Spaceballs (1987)', count=1),
 Row(title="McHale's Navy (1997)", count=1),
 Row(title='Hit by Lightning (2014)', count=1),
 Row(title='Platoon (1986)', count=1),
 Row(title='Don Jon (2013)', count=1),
 Row(title='Divergent (2014)', count=1),
 Row(title='21 Jump Street (2012)', count=1),
 Row(title='12 Years a Slave (2013)', count=1),
 Row(title='Talented Mr. Ripley, The (1999)', count=1),
 Row(title='Beverly Hills Cop (1984)', count=1),
 Row(title='Dr. No (1962)', count=2),
 Row(title='Transporter 2 (2005)', count=1),
 Row(title='Trainwreck (2015)', count=1),
 Row(title='Being John Malkovich (1999)', count=1),
 Row(title='Never Say Never Again (1983)', count=1),
 Row(title='Rush Hour 2 (2001)', count=1),
 Row(title='What About Bob? (1991)', count=1),
 Row(title='Hangover, The (2009)', count=1),
 Row(title='Bruce Almighty (2003)', count=1),
 Row(title='Friends with Benefits (2011)', count=1),
 Row(title='The Gracefield Incident (2015)', count=1),
 Row(title='How to Make Love Like an Englishman (2014)', count=1),
 Row(title='The Hunger Games: Mockingjay - Part 1 (2014)', count=1),
 Row(title='Fast & Furious 6 (Fast and the Furious 6, The) (2013)', count=1),
 Row(title='Nightmare Before Christmas, The (1993)', count=1),
 Row(title='Starship Troopers (1997)', count=1),
 Row(title='Grown Ups (2010)', count=1),
 Row(title="Logan's Run (1976)", count=1),
 Row(title='Young Frankenstein (1974)', count=1),
 Row(title="Look Who's Talking (1989)", count=1),
 Row(title='Wallace & Gromit: A Close Shave (1995)', count=1),
 Row(title='Lethal Weapon 3 (1992)', count=1),
 Row(title='Sin City (2005)', count=1),
 Row(title='The Hunger Games: Mockingjay - Part 2 (2015)', count=1),
 Row(title='I, Robot (2004)', count=1),
 Row(title='Ice Age: Dawn of the Dinosaurs (2009)', count=1),
 Row(title='Shining, The (1980)', count=1),
 Row(title='Shaft (1971)', count=1),
 Row(title='E.T. the Extra-Terrestrial (1982)', count=1),
 Row(title='South Park: Bigger, Longer and Uncut (1999)', count=2),
 Row(title='Harry Potter and the Goblet of Fire (2005)', count=1),
 Row(title='Delivery Man (2013)', count=1),
 Row(title='Avengers: Age of Ultron (2015)', count=1),
 Row(title='Escape to Witch Mountain (1975)', count=1),
 Row(title='The Man from U.N.C.L.E. (2015)', count=1),
 Row(title='Mr. Smith Goes to Washington (1939)', count=1),
 Row(title='RoboCop (2014)', count=1),
 Row(title='Megamind (2010)', count=1),
 Row(title='Love Actually (2003)', count=1),
 Row(title='View to a Kill, A (1985)', count=1),
 Row(title='Messenger: The Story of Joan of Arc, The (1999)', count=1),
 Row(title='American Pie (1999)', count=1),
 Row(title='Muppet Christmas: Letters to Santa, A (2008)', count=1)]

In [7]:
# Search movie by id/title, show the average rating, the number of users that have watched the movie
# TODO: Need to translate between ID & Title
def search_movies_watched_by_id(movie_id: int):
    rated_movies = df_ratings.where(f"movieId = {movie_id}")
    tagged_movies = df_tags.where(f"movieId = {movie_id}")
    movies = rated_movies.join(tagged_movies, on=["userId"], how="outer")
    movies = movies.select("userId").distinct()
    return movies.count()
search_movies_watched_by_id(1) # Toy Story

215

In [8]:
# Search movie by id/title, show the average rating, the number of users that have watched the movie
def search_movies_avg_rating_by_id(movie_id: int):
    rated_movies = df_ratings.where(f"movieId = {movie_id}").agg({"rating": "avg"})
    return rated_movies.first()[0]
search_movies_avg_rating_by_id(1) # Toy Story

3.9209302325581397

In [16]:
# Given a list of genres, search all movies belonging each genre
def search_movies_by_genre(genres: [str]):
    movies = df_movies.select("movieId", "title", explode(split(df_movies.genres, "\|")).alias("genre"))
    movies = movies.filter(movies.genre.isin(genres)).dropDuplicates(subset=["movieId"])
    return movies.collect()
search_movies_by_genre(["Action", "Crime"])

)', genre='Action'),
 Row(movieId=86142, title='13 Assassins (Jûsan-nin no shikaku) (2010)', genre='Action'),
 Row(movieId=112171, title='Equalizer, The (2014)', genre='Action'),
 Row(movieId=2193, title='Willow (1988)', genre='Action'),
 Row(movieId=3764, title='F/X2 (a.k.a. F/X 2 - The Deadly Art of Illusion) (1991)', genre='Action'),
 Row(movieId=3793, title='X-Men (2000)', genre='Action'),
 Row(movieId=4355, title='Youngblood (1986)', genre='Action'),
 Row(movieId=5445, title='Minority Report (2002)', genre='Action'),
 Row(movieId=37853, title='Into the Blue (2005)', genre='Action'),
 Row(movieId=53143, title='Fay Grim (2006)', genre='Action'),
 Row(movieId=55036, title='Gotti (1996)', genre='Crime'),
 Row(movieId=60126, title='Get Smart (2008)', genre='Action'),
 Row(movieId=61352, title='Traitor (2008)', genre='Crime'),
 Row(movieId=70533, title='Evangelion: 1.0 You Are (Not) Alone (Evangerion shin gekijôban: Jo) (2007)', genre='Action'),
 Row(movieId=84523, title='Kill! (Kiru) (1968)', genre='Action'),
 Row(movieId=88327, title='New One-Armed Swordsman, The (Xin du bi dao) (1971)', genre='Action'),
 Row(movieId=89343, title='Red State (2011)', genre='Action'),
 Row(movieId=95475, title="Dragon Ball Z: Cooler's Revenge (Doragon bôru Z 5: Tobikkiri no saikyô tai saikyô) (1991)", genre='Action'),
 Row(movieId=97470, title='Catch .44 (2011)', genre='Action'),
 Row(movieId=283, title='New Jersey Drive (1995)', genre='Crime'),
 Row(movieId=479, title='Judgment Night (1993)', genre='Action'),
 Row(movieId=2808, title='Universal Soldier (1992)', genre='Action'),
 Row(movieId=2880, title='Armour of God (Long xiong hu di) (1987)', genre='Action'),
 Row(movieId=5247, title='Smokey and the Bandit (1977)', genre='Action'),
 Row(movieId=5424, title='Harvard Man (2001)', genre='Crime'),
 Row(movieId=32632, title='Electra Glide in Blue (1973)', genre='Action'),
 Row(movieId=59369, title='Taken (2008)', genre='Action'),
 Row(movieId=79501, title='Deadly Outlaw: Rekka (a.k.a. Violent Fire) (Jitsuroku Andô Noboru kyôdô-den: Rekka) (2002)', genre='Crime'),
 Row(movieId=91976, title='Grey, The (2012)', genre='Action'),
 Row(movieId=100163, title='Hansel & Gretel: Witch Hunters (2013)', genre='Action'),
 Row(movieId=114935, title='Predestination (2014)', genre='Action'),
 Row(movieId=431, title="Carlito's Way (1993)", genre='Crime'),
 Row(movieId=692, title='Solo (1996)', genre='Action'),
 Row(movieId=1245, title="Miller's Crossing (1990)", genre='Crime'),
 Row(movieId=3439, title='Teenage Mutant Ninja Turtles II: The Secret of the Ooze (1991)', genre='Action'),
 Row(movieId=7070, title='Red River (1948)', genre='Action'),
 Row(movieId=37380, title='Doom (2005)', genre='Action'),
 Row(movieId=43836, title='Pink Panther, The (2006)', genre='Crime'),
 Row(movieId=57499, title='Heaven and Earth (Ten to Chi to) (1990)', genre='Action'),
 Row(movieId=73488, title='Blood: The Last Vampire (2009)', genre='Action'),
 Row(movieId=94985, title='Get the Gringo (2012)', genre='Action'),
 Row(movieId=98296, title='Deadfall (2012)', genre='Crime'),
 Row(movieId=104211, title="We're the Millers (2013)", genre='Crime'),
 Row(movieId=114662, title='American Sniper (2014)', genre='Action'),
 Row(movieId=122900, title='Ant-Man (2015)', genre='Action'),
 Row(movieId=122902, title='Fantastic Four (2015)', genre='Action'),
 Row(movieId=126420, title='American Heist (2015)', genre='Action'),
 Row(movieId=133195, title='Hitman: Agent 47 (2015)', genre='Action'),
 Row(movieId=135532, title='The Last Witch Hunter (2015)', genre='Action'),
 Row(movieId=162606, title='The Accountant (2016)', genre='Crime'),
 Row(movieId=377, title='Speed (1994)', genre='Action'),
 Row(movieId=3529, title='Postman Always Rings Twice, The (1981)', genre='Crime'),
 Row(movieId=6322, title='Confidence (2003)', genre='Crime'),
 Row(movieId=6595, title='S.W.A.T. (2003)', genre='Action'),
 Row(movieId=7981, title='Infernal Affairs (Mou gaan dou) (2002)', genre='Crime'),
 Row(movieId=49649, title='Eragon (2006)', genre='Action'),
 Row(movieId=58627, title='Never Back Down (2008)', genre='Action'),
 Row(movieId=91660, title='Darkest Hour, The (2011)', genre='Action'),
 Row(movieId=130083, title='Kidnapping Mr. Heineken (2015)', genre='Action'),
 Row(movieId=136020, title='Spectre (2015)', genre='Action'),
 Row(movieId=175569, title='Wind River (2017)', genre='Action'),
 Row(movieId=5246, title='Smokey and the Bandit II (1980)', genre='Action'),
 Row(movieId=5553, title='Stakeout (1987)', genre='Crime'),
 Row(movieId=7028, title='Quick Change (1990)', genre='Crime'),
 Row(movieId=7980, title='Bridge Too Far, A (1977)', genre='Action'),
 Row(movieId=26340, title="Twelve Tasks of Asterix, The (Les douze travaux d'Astérix) (1976)", genre='Action'),
 Row(movieId=31424, title='Alone in the Dark (2005)', genre='Action'),
 Row(movieId=31545, title='Trou, Le (Hole, The) (Night Watch, The) (1960)', genre='Crime'),
 Row(movieId=62849, title='RocknRolla (2008)', genre='Action'),
 Row(movieId=91630, title='Mission: Impossible - Ghost Protocol (2011)', genre='Action'),
 Row(movieId=92264, title='One for the Money (2012)', genre='Action'),
 Row(movieId=186587, title='Rampage (2018)', genre='Action'),
 Row(movieId=647, title='Courage Under Fire (1996)', genre='Action'),
 Row(movieId=2405, title='Jewel of the Nile, The (1985)', genre='Action'),
 Row(movieId=4166, title='Series 7: The Contenders (2001)', genre='Action'),
 Row(movieId=5541, title='Hot Shots! (1991)', genre='Action'),
 Row(movieId=6086, title='I, the Jury (1982)', genre='Crime'),
 Row(movieId=6308, title='Legal Eagles (1986)', genre='Crime'),
 Row(movieId=6583, title='Blood of Heroes, The (Salute of the Jugger, The) (1989)', genre='Action'),
 Row(movieId=6959, title='Timeline (2003)', genre='Action'),
 Row(movieId=7657, title='Versus (2000)', genre='Action'),
 Row(movieId=26765, title='City Hunter (Sing si lip yan) (1993)', genre='Action'),
 Row(movieId=33162, title='Kingdom of Heaven (2005)', genre='Action'),
 Row(movieId=47254, title='Chaos (2005)', genre='Action'),
 Row(movieId=53550, title='Rescue Dawn (2006)', genre='Action'),
 Row(movieId=85401, title='Super (2010)', genre='Action'),
 Row(movieId=134775, title='Dragon Blade (2015)', genre='Action'),
 Row(movieId=152079, title='London Has Fallen (2016)', genre='Action'),
 Row(movieId=171763, title='Baby Driver (2017)', genre='Action'),
 Row(movieId=292, title='Outbreak (1995)', genre='Action'),
 Row(movieId=1517, title='Austin Powers: International Man of Mystery (1997)', genre='Action'),
 Row(movieId=3996, title='Crouching Tiger, Hidden Dragon (Wo hu cang long) (2000)', genre='Action'),
 Row(movieId=4846, title='Iron Monkey (Siu nin Wong Fei-hung ji: Tit Ma Lau) (1993)', genre='Action'),
 Row(movieId=5507, title='xXx (2002)', genre='Action'),
 Row(movieId=33801, title='Godzilla: Final Wars (Gojira: Fainaru uôzu) (2004)', genre='Action'),
 Row(movieId=54736, title='Kingdom, The (2007)', genre='Action'),
 Row(movieId=68157, title='Inglourious Basterds (2009)', genre='Action'),
 Row(movieId=90603, title='Batman: Year One (2011)', genre='Action'),
 Row(movieId=134515, title='BMX Bandits (1983)', genre='Crime'),
 Row(movieId=142074, title='Knock Knock (2015)', genre='Crime'),
 Row(movieId=162478, title='Masterminds (2016)', genre='Action'),
 Row(movieId=1499, title='Anaconda (1997)', genre='Action'),
 Row(movieId=1917, title='Armageddon (1998)', genre='Action'),
 Row(movieId=3827, title='Space Cowboys (2000)', genre='Action'),
 Row(movieId=6994, title='Hard Way, The (1991)', genre='Action'),
 Row(movieId=7090, title='Hero (Ying xiong) (2002)', genre='Action'),
 Row(movieId=75813, title='Leaves of Grass (2009)', genre='Crime'),
 Row(movieId=93805, title='Iron Sky (2012)', genre='Action'),
 Row(movieId=115617, title='Big Hero 6 (2014)', genre='Action'),
 Row(movieId=157432, title='Precious Cargo (2016)', genre='Action'),
 Row(movieId=161032, title='The Grandmother (1970)', genre='Action'),
 Row(movieId=2640, title='Superman (1978)', genre='Action'),
 Row(movieId=3726, title='Assault on Precinct 13 (1976)', genre='Action'),
 Row(movieId=5039, title='Dragonslayer (1981)', genre='Action'),
 Row(movieId=6323, title='Identity (2003)', genre='Crime'),
 Row(movieId=7362, title='Taking Lives (2004)', genre='Crime'),
 Row(movieId=26590, title='G.I. Joe: The Movie (1987)', genre='Action'),
 Row(movieId=27802, title='Infernal Affairs 2 (Mou gaan dou II) (2003)', genre='Action'),
 Row(movieId=32387, title='Sword of Doom, The (Dai-bosatsu tôge) (1966)', genre='Action'),
 Row(movieId=72874, title='Peacekeeper, The (1997)', genre='Action'),
 Row(movieId=96004, title='Dragon Ball Z: The History of Trunks (Doragon bôru Z: Zetsubô e no hankô!! Nokosareta chô senshi - Gohan to Torankusu) (1993)', genre='Action'),
 Row(movieId=129937, title='Run All Night (2015)', genre='Action'),
 Row(movieId=151781, title='Ghost in the Shell: Solid State Society (2006)', genre='Action'),
 Row(movieId=158874, title='Karate Bullfighter (1975)', genre='Action'),
 Row(movieId=161582, title='Hell or High Water (2016)', genre='Crime'),
 Row(movieId=2412, title='Rocky V (1990)', genre='Action'),
 Row(movieId=4043, title='At Close Range (1986)', genre='Crime'),
 Row(movieId=4159, title='3000 Miles to Graceland (2001)', genre='Action'),
 Row(movieId=5638, title='Godzilla vs. Mothra (Mosura tai Gojira) (1964)', genre='Action'),
 Row(movieId=7102, title='Dragnet (1987)', genre='Crime'),
 Row(movieId=8481, title='Northwest Passage (1940)', genre='Action'),
 Row(movieId=68945, title='Neon Genesis Evangelion: Death & Rebirth (Shin seiki Evangelion Gekijô-ban: Shito shinsei) (1997)', genre='Action'),
 Row(movieId=79132, title='Inception (2010)', genre='Action'),
 Row(movieId=79592, title='Other Guys, The (2010)', genre='Action'),
 Row(movieId=87192, title='Attack the Block (2011)', genre='Action'),
 Row(movieId=88125, title='Harry Potter and the Deathly Hallows: Part 2 (2011)', genre='Action'),
 Row(movieId=98633, title='My Lucky Stars (Fuk sing go jiu) (1985)', genre='Action'),
 Row(movieId=112818, title='Purge: Anarchy, The (2014)', genre='Action'),
 Row(movieId=117590, title='Horrible Bosses 2 (2014)', genre='Crime'),
 Row(movieId=147662, title='Return of the One-Armed Swordsman (1969)', genre='Action'),
 Row(movieId=1464, title='Lost Highway (1997)', genre='Crime'),
 Row(movieId=1518, title='Breakdown (1997)', genre='Action'),
 Row(movieId=2535, title='Earthquake (1974)', genre='Action'),
 Row(movieId=3632, title='Monsieur Verdoux (1947)', genre='Crime'),
 Row(movieId=3683, title='Blood Simple (1984)', genre='Crime'),
 Row(movieId=3702, title='Mad Max (1979)', genre='Action'),
 Row(movieId=4027, title='O Brother, Where Art Thou? (2000)', genre='Crime'),
 Row(movieId=5954, title='25th Hour (2002)', genre='Crime'),
 Row(movieId=8044, title='I Am a Fugitive from a Chain Gang (1932)', genre='Crime'),
 Row(movieId=26704, title='State of Grace (1990)', genre='Crime'),
 Row(movieId=27660, title='Animatrix, The (2003)', genre='Action'),
 Row(movieId=31923, title='Three Musketeers, The (1973)', genre='Action'),
 Row(movieId=85796, title='Hobo with a Shotgun (2011)', genre='Action'),
 Row(movieId=507, title='Perfect World, A (1993)', genre='Crime'),
 Row(movieId=544, title='Striking Distance (1993)', genre='Action'),
 Row(movieId=2203, title='Shadow of a Doubt (1943)', genre='Crime'),
 Row(movieId=2458, title='Armed and Dangerous (1986)', genre='Crime'),
 Row(movieId=2803, title='Pelican Brief, The (1993)', genre='Crime'),
 Row(movieId=3364, title='Asphalt Jungle, The (1950)', genre='Crime'),
 Row(movieId=5010, title='Black Hawk Down (2001)', genre='Action'),
 Row(movieId=5657, title='Flashback (1990)', genre='Action'),
 Row(movieId=6541, title='League of Extraordinary Gentlemen, The (a.k.a. LXG) (2003)', genre='Action'),
 Row(movieId=6990, title='The Great Train Robbery (1978)', genre='Action'),
 Row(movieId=7108, title='Crime Story (Zhong an zu) (1993)', genre='Action'),
 Row(movieId=7832, title='Thin Man Goes Home, The (1945)', genre='Crime'),
 Row(movieId=27816, title='Saints and Soldiers (2003)', genre='Action'),
 Row(movieId=68793, title='Night at the Museum: Battle of the Smithsonian (2009)', genre='Action'),
 Row(movieId=96432, title='Lawless (2012)', genre='Crime'),
 Row(movieId=101112, title='Oz the Great and Powerful (2013)', genre='Action'),
 Row(movieId=162968, title='Kizumonogatari Part 1: Tekketsu (2016)', genre='Action'),
 Row(movieId=163, title='Desperado (1995)', genre='Action'),
 Row(movieId=1711, title='Midnight in the Garden of Good and Evil (1997)', genre='Crime'),
 Row(movieId=2985, title='RoboCop (1987)', genre='Action'),
 Row(movieId=4212, title='Death on the Nile (1978)', genre='Crime'),
 Row(movieId=6974, title='Freshman, The (1990)', genre='Crime'),
 Row(movieId=73321, title='Book of Eli, The (2010)', genre='Action'),
 Row(movieId=86028, title="Henry's Crime (2010)", genre='Crime'),
 Row(movieId=93297, title='Act of Valor (2012)', genre='Action'),
 Row(movieId=2268, title='Few Good Men, A (1992)', genre='Crime'),
 Row(movieId=6884, title='Veronica Guerin (2003)', genre='Crime'),
 Row(movieId=7757, title='Jason and the Argonauts (1963)', genre='Action'),
 Row(movieId=8832, title='Warriors of Heaven and Earth (Tian di ying xiong) (2003)', genre='Action'),
 Row(movieId=60040, title='Incredible Hulk, The (2008)', genre='Action'),
 Row(movieId=63826, title='Splinter (2008)', genre='Action'),
 Row(movieId=72554, title='Cell 211 (Celda 211) (2009)', genre='Action'),
 Row(movieId=96610, title='Looper (2012)', genre='Action'),
 Row(movieId=102278, title='Pawn (2013)', genre='Crime'),
 Row(movieId=104141, title='Batman: Mystery of the Batwoman (2003)', genre='Action'),
 Row(movieId=173619, title='Fugitives (1986)', genre='Crime'),
 Row(movieId=179491, title='Mayhem (2017)', genre='Action'),
 Row(movieId=2105, title='Tron (1982)', genre='Action'),
 Row(movieId=4506, title='Frantic (1988)', genre='Crime'),
 Row(movieId=8491, title='White Heat (1949)', genre='Crime'),
 Row(movieId=8507, title='Freaks (1932)', genre='Crime'),
 Row(movieId=8912, title='Taxi (2004)', genre='Action'),
 Row(movieId=53972, title='Live Free or Die Hard (2007)', genre='Action'),
 Row(movieId=73323, title="Girl Who Kicked the Hornet's Nest, The (Luftslottet som sprängdes) (2009)", genre='Action'),
 Row(movieId=85131, title='Battle: Los Angeles (2011)', genre='Action'),
 Row(movieId=111844, title='Bad Asses (Bad Ass 2) (2014)', genre='Action'),
 Row(movieId=164881, title='Night Guards (2016)', genre='Action'),
 Row(movieId=2571, title='Matrix, The (1999)', genre='Action'),
 Row(movieId=3635, title='Spy Who Loved Me, The (1977)', genre='Action'),
 Row(movieId=3947, title='Get Carter (1971)', genre='Action'),
 Row(movieId=4390, title='Rape Me (Baise-moi) (2000)', genre='Crime'),
 Row(movieId=4608, title='Innocent Man, An (1989)', genre='Crime'),
 Row(movieId=5463, title='Reign of Fire (2002)', genre='Action'),
 Row(movieId=7248, title='Suriyothai (a.k.a. Legend of Suriyothai, The) (2001)', genre='Action'),
 Row(movieId=26681, title='Bullet in the Head (1990)', genre='Action'),
 Row(movieId=32511, title='Touch of Zen, A (Xia nu) (1971)', genre='Action'),
 Row(movieId=59615, title='Indiana Jones and the Kingdom of the Crystal Skull (2008)', genre='Action'),
 Row(movieId=64695, title='Sword of the Stranger (Sutorejia: Mukô hadan) (2007)', genre='Action'),
 Row(movieId=95780, title='Dragon Ball Z: Bio-Broly (Doragon bôru Z 11: Sûpâ senshi gekiha! Katsu no wa ore da) (1994)', genre='Action'),
 Row(movieId=101577, title='Host, The (2013)', genre='Action'),
 Row(movieId=170705, title='Band of Brothers (2001)', genre='Action'),
 Row(movieId=553, title='Tombstone (1993)', genre='Action'),
 Row(movieId=836, title='Chain Reaction (1996)', genre='Action'),
 Row(movieId=3584, title='Breathless (1983)', genre='Action'),
 Row(movieId=6057, title='Biker Boyz (2003)', genre='Action'),
 Row(movieId=7262, title='Catch That Kid (2004)', genre='Action'),
 Row(movieId=8894, title='Orca: The Killer Whale (1977)', genre='Action'),
 Row(movieId=34334, title='Stealth (2005)', genre='Action'),
 Row(movieId=43936, title='16 Blocks (2006)', genre='Crime'),
 Row(movieId=56775, title='National Treasure: Book of Secrets (2007)', genre='Action'),
 Row(movieId=57526, title='Untraceable (2008)', genre='Crime'),
 Row(movieId=85020, title='Mechanic, The (2011)', genre='Action'),
 Row(movieId=135567, title='Independence Day: Resurgence (2016)', genre='Action'),
 Row(movieId=780, title='Independence Day (a.k.a. ID4) (1996)', genre='Action'),
 Row(movieId=1227, title='Once Upon a Time in America (1984)', genre='Crime'),
 Row(movieId=1739, title='3 Ninjas: High Noon On Mega Mountain (1998)', genre='Action'),
 Row(movieId=2176, title='Rope (1948)', genre='Crime'),
 Row(movieId=2892, title='New Rose Hotel (1998)', genre='Action'),
 Row(movieId=7831, title='Another Thin Man (1939)', genre='Crime'),
 Row(movieId=26152, title='Batman (1966)', genre='Action'),
 Row(movieId=53519, title='Death Proof (2007)', genre='Action'),
 Row(movieId=74851, title='From Paris with Love (2010)', genre='Action'),
 Row(movieId=103042, title='Man of Steel (2013)', genre='Action'),
 Row(movieId=111360, title='Lucy (2014)', genre='Action'),
 Row(movieId=115727, title='Crippled Avengers (Can que) (Return of the 5 Deadly Venoms) (1981)', genre='Action'),
 Row(movieId=129657, title='Tracers (2015)', genre='Action'),
 Row(movieId=193581, title='Black Butler: Book of the Atlantic (2017)', genre='Action'),
 Row(movieId=1497, title='Double Team (1997)', genre='Action'),
 Row(movieId=2153, title='Avengers, The (1998)', genre='Action'),
 Row(movieId=4034, title='Traffic (2000)', genre='Crime'),
 Row(movieId=4262, title='Scarface (1983)', genre='Action'),
 Row(movieId=6584, title="What's Up, Tiger Lily? (1966)", genre='Crime'),
 Row(movieId=6686, title='Medallion, The (2003)', genre='Action'),
 Row(movieId=47646, title='Idlewild (2006)', genre='Crime'),
 Row(movieId=49314, title='Harsh Times (2006)', genre='Action'),
 Row(movieId=51545, title="Pusher III: I'm the Angel of Death (2005)", genre='Action'),
 Row(movieId=58103, title='Vantage Point (2008)', genre='Action'),
 Row(movieId=62008, title='Dead Fury (2008)', genre='Action'),
 Row(movieId=71160, title='Hunt For Gollum, The (2009)', genre='Action'),
 Row(movieId=90384, title='Behind Enemy Lines II: Axis of Evil (2006)', genre='Action'),
 Row(movieId=91978, title='Man on a Ledge (2012)', genre='Crime'),
 Row(movieId=115680, title='Time Lapse (2014)', genre='Crime'),
 Row(movieId=122882, title='Mad Max: Fury Road (2015)', genre='Action'),
 Row(movieId=158402, title='The Crew (2016)', genre='Action'),
 Row(movieId=117, title="Young Poisoner's Handbook, The (1995)", genre='Crime'),
 Row(movieId=227, title='Drop Zone (1994)', genre='Action'),
 Row(movieId=579, title='Escort, The (Scorta, La) (1993)', genre='Crime'),
 Row(movieId=1220, title='Blues Brothers, The (1980)', genre='Action'),
 Row(movieId=2987, title='Who Framed Roger Rabbit? (1988)', genre='Crime'),
 Row(movieId=3056, title='Oxygen (1999)', genre='Crime'),
 Row(movieId=5580, title='Aspen Extreme (1993)', genre='Action'),
 Row(movieId=26052, title='Pickpocket (1959)', genre='Crime'),
 Row(movieId=47538, title='Crime Busters (1977)', genre='Action'),
 Row(movieId=57640, title='Hellboy II: The Golden Army (2008)', genre='Action'),
 Row(movieId=96861, title='Taken 2 (2012)', genre='Action'),
 Row(movieId=504, title='No Escape (1994)', genre='Action'),
 Row(movieId=886, title='Bulletproof (1996)', genre='Action'),
 Row(movieId=1252, title='Chinatown (1974)', genre='Crime'),
 Row(movieId=1375, title='Star Trek III: The Search for Spock (1984)', genre='Action'),
 Row(movieId=6185, title='Dark Blue (2003)', genre='Action'),
 Row(movieId=7127, title='Run (1991)', genre='Action'),
 Row(movieId=7926, title='High and Low (Tengoku to jigoku) (1963)', genre='Crime'),
 Row(movieId=51935, title='Shooter (2007)', genre='Action'),
 ...]