In [28]:
from pathlib import Path
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, split, explode, substring
import pyspark.sql.functions as sf
from pyspark.sql.types import StringType, IntegerType, BooleanType, FloatType, TimestampType

DATA_DIR = Path("data/ml-latest-small")

In [2]:
spark = SparkSession.builder\
    .master("local")\
    .appName("Word Count")\
    .getOrCreate()

In [3]:
# TODO: Spark schemas?
def read_df(file: str, types: dict):
    df = spark.read\
        .format("csv")\
        .option("header", "true")\
        .load(str(DATA_DIR / file))
    return set_dtypes(df, types)

def set_dtypes(df, types: dict):
    for column, dtype in types.items():
        dtype = {
            str: StringType(),
            int: IntegerType(),
            float: FloatType(),
            bool: BooleanType(),
            "time": TimestampType() 
        }[dtype]
        df = df.withColumn(column, col(column).cast(dtype))
    return df

df_links = read_df("links.csv", {
    "movieId": int,
    "imdbId": int,
    "tmdbId": int
})
df_movies = read_df("movies.csv", {
    "movieId": int,
    "title": str,
    "genres": str
})
df_ratings = read_df("ratings.csv", {
    "userId": int,
    "movieId": int,
    "rating": float,
    "timestamp": "time"
})
df_tags = read_df("tags.csv", {
    "userId": int,
    "movieId": int,
    "tag": str,
    "timestamp": "time"
})

In [4]:
# Given a user, get the number of movies watched per genre
def search_user(user_id: int):
    rated_movies = df_ratings.filter(df_ratings.userId == user_id).select("movieId").distinct()
    tagged_movies = df_tags.filter(df_tags.userId == user_id).select("movieId").distinct()
    movies = rated_movies.union(tagged_movies).distinct().join(df_movies, on=["movieId"], how="inner")
    movies = movies.select(movies.movieId, explode(split(movies.genres, "\|")).alias("genre"))
    movies = movies.groupBy("genre").count()
    return movies.collect()
search_user(1)

[Row(genre='Crime', count=45),
 Row(genre='Romance', count=26),
 Row(genre='Thriller', count=55),
 Row(genre='Adventure', count=85),
 Row(genre='Drama', count=68),
 Row(genre='War', count=22),
 Row(genre='Fantasy', count=47),
 Row(genre='Mystery', count=18),
 Row(genre='Musical', count=22),
 Row(genre='Animation', count=29),
 Row(genre='Film-Noir', count=1),
 Row(genre='Horror', count=17),
 Row(genre='Western', count=7),
 Row(genre='Comedy', count=83),
 Row(genre='Children', count=42),
 Row(genre='Action', count=90),
 Row(genre='Sci-Fi', count=40)]

In [5]:
df_ratings.filter("userId = 21").filter("movieId=1").collect()

[Row(userId=21, movieId=1, rating=3.5, timestamp=None)]

In [6]:
# Given a list of users, search all movies watched by each user
def search_movies_by_users(user_ids: [int]):
    rated_movies = df_ratings.filter(df_ratings.userId.isin(user_ids))
    tagged_movies = df_tags.filter(df_tags.userId.isin(user_ids))
    movies = rated_movies.join(tagged_movies, on=["userId", "movieId"], how="outer")
    movies = movies.select("userId", "movieId").distinct()
    movies = movies.groupBy("movieId").count().join(df_movies, on=["movieId"]).select("title", "count")
    return movies.collect()
search_movies_by_users([1, 21])

Row(title='Pride & Prejudice (2005)', count=1),
 Row(title='Who Framed Roger Rabbit? (1988)', count=1),
 Row(title='Pink Floyd: The Wall (1982)', count=1),
 Row(title='Logan (2017)', count=1),
 Row(title='Teenage Mutant Ninja Turtles III (1993)', count=1),
 Row(title='Ratatouille (2007)', count=1),
 Row(title='Transformers: The Movie (1986)', count=1),
 Row(title='Kingsman: The Secret Service (2015)', count=1),
 Row(title='The Interview (2014)', count=1),
 Row(title='Moonraker (1979)', count=1),
 Row(title='Monty Python and the Holy Grail (1975)', count=1),
 Row(title='Jurassic Park III (2001)', count=1),
 Row(title='Predator (1987)', count=1),
 Row(title='Dennis the Menace (1993)', count=1),
 Row(title='Collateral (2004)', count=1),
 Row(title='Welcome to Woop-Woop (1997)', count=1),
 Row(title='Big Lebowski, The (1998)', count=1),
 Row(title='Frozen (2013)', count=1),
 Row(title='Die Hard: With a Vengeance (1995)', count=1),
 Row(title='Terminator, The (1984)', count=2),
 Row(title='Office Christmas Party (2016)', count=1),
 Row(title='Fifth Element, The (1997)', count=1),
 Row(title='Willy Wonka & the Chocolate Factory (1971)', count=1),
 Row(title='Dances with Wolves (1990)', count=1),
 Row(title='Sneakers (1992)', count=1),
 Row(title='Pitch Perfect 2 (2015)', count=1),
 Row(title='Born to Kill (1947)', count=1),
 Row(title='Mamma Mia! (2008)', count=1),
 Row(title='Stargate (1994)', count=1),
 Row(title='Predator 2 (1990)', count=1),
 Row(title='Short Circuit (1986)', count=1),
 Row(title='Rocky Horror Picture Show, The (1975)', count=1),
 Row(title="It's a Very Merry Muppet Christmas Movie (2002)", count=1),
 Row(title='Blazing Saddles (1974)', count=1),
 Row(title='Idiocracy (2006)', count=1),
 Row(title='13th Warrior, The (1999)', count=1),
 Row(title='Hitch (2005)', count=1),
 Row(title='Wolf Man, The (1941)', count=1),
 Row(title='Psycho (1960)', count=1),
 Row(title='Dumb & Dumber (Dumb and Dumber) (1994)', count=1),
 Row(title='First Blood (Rambo: First Blood) (1982)', count=1),
 Row(title='Three Musketeers, The (1993)', count=1),
 Row(title='American Tail, An (1986)', count=1),
 Row(title='Mission: Impossible - Rogue Nation (2015)', count=1),
 Row(title='Labyrinth (1986)', count=1),
 Row(title='Home Alone (1990)', count=1),
 Row(title='Jungle Book, The (1967)', count=1),
 Row(title='Holiday, The (2006)', count=1),
 Row(title='Peter Pan (1953)', count=1),
 Row(title='Great Mouse Detective, The (1986)', count=1),
 Row(title='Toy Story 2 (1999)', count=1),
 Row(title='Dictator, The (2012)', count=1),
 Row(title='Blown Away (1994)', count=1),
 Row(title='Terminal, The (2004)', count=1),
 Row(title='Interstellar (2014)', count=1),
 Row(title='Iron Man (2008)', count=1),
 Row(title='Zootopia (2016)', count=1),
 Row(title='Big Trouble in Little China (1986)', count=1),
 Row(title='Kill Bill: Vol. 1 (2003)', count=1),
 Row(title='Goldfinger (1964)', count=2),
 Row(title='Ghostbusters (a.k.a. Ghost Busters) (1984)', count=2),
 Row(title='Tourist, The (2010)', count=1),
 Row(title='Song of the South (1946)', count=1),
 Row(title='Rush Hour (1998)', count=2),
 Row(title='Batman Returns (1992)', count=1),
 Row(title='Pirates of the Caribbean: The Curse of the Black Pearl (2003)', count=1),
 Row(title='Brave (2012)', count=1),
 Row(title='Amazing Spider-Man, The (2012)', count=1),
 Row(title='Beetlejuice (1988)', count=2),
 Row(title='Wedding Date, The (2005)', count=1),
 Row(title='Meet the Fockers (2004)', count=1),
 Row(title='300 (2007)', count=1),
 Row(title='Edge of Tomorrow (2014)', count=1),
 Row(title='Dazed and Confused (1993)', count=1),
 Row(title='Rise of the Planet of the Apes (2011)', count=1),
 Row(title='Rock, The (1996)', count=2),
 Row(title='I Still Know What You Did Last Summer (1998)', count=1),
 Row(title='Scream 3 (2000)', count=1),
 Row(title='Lone Ranger, The (2013)', count=1),
 Row(title='Proposal, The (2009)', count=1),
 Row(title='Bourne Legacy, The (2012)', count=1),
 Row(title='Iron Man 3 (2013)', count=1),
 Row(title='Die Hard (1988)', count=1),
 Row(title='Ride Along (2014)', count=1),
 Row(title='Alice in Wonderland (2010)', count=1),
 Row(title='Excalibur (1981)', count=1),
 Row(title='Live and Let Die (1973)', count=2),
 Row(title='Rambo: First Blood Part II (1985)', count=1),
 Row(title='Music and Lyrics (2007)', count=1),
 Row(title='Thunderball (1965)', count=2),
 Row(title='Sherlock Holmes (2009)', count=1),
 Row(title='Flight of the Navigator (1986)', count=1),
 Row(title='Ted (2012)', count=1),
 Row(title="You've Got Mail (1998)", count=1),
 Row(title='Forgetting Sarah Marshall (2008)', count=1),
 Row(title='Star Wars: The Clone Wars (2008)', count=1),
 Row(title='Spy (2015)', count=1),
 Row(title='Real Steel (2011)', count=1),
 Row(title='Ladyhawke (1985)', count=1),
 Row(title='Southpaw (2015)', count=1),
 Row(title='Duck Soup (1933)', count=1),
 Row(title='Fight Club (1999)', count=2),
 Row(title='Multiplicity (1996)', count=1),
 Row(title='Bourne Identity, The (2002)', count=1),
 Row(title='Swingers (1996)', count=1),
 Row(title='Quantum of Solace (2008)', count=1),
 Row(title='X-Men: Days of Future Past (2014)', count=1),
 Row(title="Ocean's Twelve (2004)", count=1),
 Row(title='Twister (1996)', count=1),
 Row(title='The Amazing Spider-Man 2 (2014)', count=1),
 Row(title='Mission: Impossible (1996)', count=2),
 Row(title='Ghostbusters II (1989)', count=1),
 Row(title='La La Land (2016)', count=1),
 Row(title='Austin Powers in Goldmember (2002)', count=1),
 Row(title='Wolf of Wall Street, The (2013)', count=1),
 Row(title='Ice Age (2002)', count=1),
 Row(title='Grand Budapest Hotel, The (2014)', count=1),
 Row(title='Star Wars: Episode VII - The Force Awakens (2015)', count=1),
 Row(title='Paul Blart: Mall Cop 2 (2015)', count=1),
 Row(title='Kiss the Girls (1997)', count=1),
 Row(title='Thousand Words, A (2012)', count=1),
 Row(title='Dogma (1999)', count=1),
 Row(title='Blind Side, The  (2009)', count=1),
 Row(title='Harry Potter and the Chamber of Secrets (2002)', count=1),
 Row(title='Bad Boys II (2003)', count=1),
 Row(title='Aliens (1986)', count=1),
 Row(title='American Pie Presents Beta House (American Pie 6: Beta House) (2007)', count=1),
 Row(title='Annie Hall (1977)', count=1),
 Row(title='Legend (1985)', count=1),
 Row(title='So I Married an Axe Murderer (1993)', count=1),
 Row(title='James and the Giant Peach (1996)', count=1),
 Row(title='Kill Bill: Vol. 2 (2004)', count=1),
 Row(title='Click (2006)', count=1),
 Row(title='Transformers: Revenge of the Fallen (2009)', count=1),
 Row(title='Man with the Golden Gun, The (1974)', count=2),
 Row(title='War of the Worlds (2005)', count=1),
 Row(title='Decoy Bride, The (2011)', count=1),
 Row(title="On Her Majesty's Secret Service (1969)", count=1),
 Row(title='Transporter, The (2002)', count=1),
 Row(title='Game, The (1997)', count=1),
 Row(title='2012 (2009)', count=1),
 Row(title='Bolt (2008)', count=1),
 Row(title='JFK (1991)', count=1),
 Row(title='Guardians of the Galaxy (2014)', count=1),
 Row(title='Terminator 2: Judgment Day (1991)', count=1),
 Row(title='GoldenEye (1995)', count=1),
 Row(title='Kung Fu Panda (2008)', count=1),
 Row(title='Wedding Crashers (2005)', count=1),
 Row(title='Blade (1998)', count=1),
 Row(title='Transformers: Dark of the Moon (2011)', count=1),
 Row(title='Superman II (1980)', count=1),
 Row(title='Usual Suspects, The (1995)', count=1),
 Row(title='The Little Prince (2015)', count=1),
 Row(title='Alien (1979)', count=2),
 Row(title='Rushmore (1998)', count=1),
 Row(title='Easy Rider (1969)', count=1),
 Row(title="Pirates of the Caribbean: At World's End (2007)", count=1),
 Row(title="Schindler's List (1993)", count=1),
 Row(title='Harry Potter and the Prisoner of Azkaban (2004)', count=1),
 Row(title='Catch Me If You Can (2002)', count=1),
 Row(title='Back to the Future Part III (1990)', count=2),
 Row(title='Notting Hill (1999)', count=1),
 Row(title='Léon: The Professional (a.k.a. The Professional) (Léon) (1994)', count=1),
 Row(title='Batman: The Dark Knight Returns, Part 1 (2012)', count=1),
 Row(title='Kick-Ass (2010)', count=1),
 Row(title='Good Will Hunting (1997)', count=1),
 Row(title='The Purge: Election Year (2016)', count=1),
 Row(title="King's Speech, The (2010)", count=1),
 Row(title='Billy Madison (1995)', count=1),
 Row(title='The Escort (2015)', count=1),
 Row(title='Stretch (2014)', count=1),
 Row(title='Lethal Weapon 4 (1998)', count=1),
 Row(title='Thor: The Dark World (2013)', count=1),
 Row(title='Modern Times (1936)', count=1),
 Row(title='It Takes Two (1995)', count=1),
 Row(title='Casino Royale (1967)', count=1),
 Row(title='Police Academy (1984)', count=1),
 Row(title='Lion King, The (1994)', count=1),
 Row(title='Dark Knight Rises, The (2012)', count=1),
 Row(title='Star Wars: Episode II - Attack of the Clones (2002)', count=1),
 Row(title='Films to Keep You Awake: The Christmas Tale (Películas para no dormir: Cuento de navidad) (2005)', count=1),
 Row(title='Avengers, The (2012)', count=1),
 Row(title='Ghost and the Darkness, The (1996)', count=1),
 Row(title='Forrest Gump (1994)', count=2),
 Row(title='Surviving Christmas (2004)', count=1),
 Row(title='Deadpool (2016)', count=1),
 Row(title='Burnt (2015)', count=1),
 Row(title='SLC Punk! (1998)', count=1),
 Row(title='American Beauty (1999)', count=2),
 Row(title='Frankenstein (1931)', count=1),
 Row(title='Black Cauldron, The (1985)', count=1),
 Row(title="Gulliver's Travels (1939)", count=1),
 Row(title='Goodfellas (1990)', count=1),
 Row(title='Satanic (2016)', count=1),
 Row(title='Slumdog Millionaire (2008)', count=1),
 Row(title='From Dusk Till Dawn (1996)', count=1),
 Row(title='Planet of the Apes (1968)', count=2),
 Row(title='Hobbit: The Desolation of Smaug, The (2013)', count=1),
 Row(title='You Only Live Twice (1967)', count=1),
 Row(title='Jurassic Park (1993)', count=2),
 Row(title='Captain America: The First Avenger (2011)', count=1),
 Row(title='Chronicles of Narnia: The Lion, the Witch and the Wardrobe, The (2005)', count=1),
 Row(title='Hancock (2008)', count=1),
 Row(title='Die Another Day (2002)', count=1),
 Row(title='Naked Gun: From the Files of Police Squad!, The (1988)', count=1),
 Row(title='Knight and Day (2010)', count=1),
 Row(title='Secret of NIMH, The (1982)', count=1),
 Row(title='From Russia with Love (1963)', count=2),
 Row(title='Cruel Intentions (1999)', count=1),
 Row(title='Despicable Me 2 (2013)', count=1),
 Row(title='Godfather: Part II, The (1974)', count=1),
 Row(title='Edward Scissorhands (1990)', count=1),
 Row(title="Wayne's World (1992)", count=2),
 Row(title='Conan the Barbarian (1982)', count=1),
 Row(title='John Wick: Chapter Two (2017)', count=1),
 Row(title="Dr. Horrible's Sing-Along Blog (2008)", count=1),
 Row(title='Con Air (1997)', count=1),
 Row(title='Lord of the Rings, The (1978)', count=1),
 Row(title='Naked Gun 2 1/2: The Smell of Fear, The (1991)', count=1),
 Row(title='The Good Dinosaur (2015)', count=1),
 Row(title='Doctor Strange (2016)', count=1),
 Row(title='Nosferatu (Nosferatu, eine Symphonie des Grauens) (1922)', count=1),
 Row(title='That Thing You Do! (1996)', count=1),
 Row(title='Monsters University (2013)', count=1),
 Row(title='Bag Man, The (2014)', count=1),
 Row(title='John Wick (2014)', count=1),
 Row(title='Men in Black III (M.III.B.) (M.I.B.³) (2012)', count=1),
 Row(title='Big Eyes (2014)', count=1),
 Row(title='Small Soldiers (1998)', count=1),
 Row(title='Spider-Man 2 (2004)', count=1),
 Row(title='American Pie Presents The Naked Mile (American Pie 5: The Naked Mile) (2006)', count=1),
 Row(title='Living Daylights, The (1987)', count=1),
 Row(title='Psycho (1998)', count=1),
 Row(title='Howard the Duck (1986)', count=1),
 Row(title='Star Wars: Episode III - Revenge of the Sith (2005)', count=1),
 Row(title='Fantasia (1940)', count=1),
 Row(title='Fantastic Four (2005)', count=1),
 Row(title='Fugitive, The (1993)', count=1),
 Row(title='World Is Not Enough, The (1999)', count=1),
 Row(title='Wreck-It Ralph (2012)', count=1),
 Row(title='Rob Roy (1995)', count=1),
 Row(title='Shrek (2001)', count=1),
 Row(title='How to Train Your Dragon 2 (2014)', count=1),
 Row(title='Fargo (1996)', count=1),
 Row(title='Drinking Buddies (2013)', count=1),
 Row(title='22 Jump Street (2014)', count=1),
 Row(title='Ghost and Mrs. Muir, The (1947)', count=1),
 Row(title='Limitless (2011)', count=1),
 Row(title='Batman (1989)', count=2),
 Row(title='Winnie the Pooh and the Blustery Day (1968)', count=1),
 Row(title='Veronica Mars (2014)', count=1),
 Row(title='X-Files: Fight the Future, The (1998)', count=1),
 Row(title='Bad Boys (1995)', count=1),
 Row(title="Ocean's Eleven (2001)", count=1),
 Row(title='Sister Act (1992)', count=1),
 Row(title='Adventures of Robin Hood, The (1938)', count=1),
 Row(title='L.A. Confidential (1997)', count=1),
 Row(title='Return to Oz (1985)', count=1),
 Row(title='Toys (1992)', count=1),
 Row(title='Thin Red Line, The (1998)', count=1),
 Row(title='Beauty and the Beast: The Enchanted Christmas (1997)', count=1),
 Row(title='Mission: Impossible III (2006)', count=1),
 Row(title='Lord of the Rings: The Two Towers, The (2002)', count=1),
 Row(title='Iron Man 2 (2010)', count=1),
 Row(title='Neighbors (2014)', count=1),
 Row(title='Wallace & Gromit in The Curse of the Were-Rabbit (2005)', count=1),
 Row(title='Last of the Mohicans, The (1992)', count=1),
 Row(title='Lost World: Jurassic Park, The (1997)', count=1),
 Row(title='Hackers (1995)', count=1),
 Row(title='Star Wars: Episode V - The Empire Strikes Back (1980)', count=2),
 Row(title='Coffee Town (2013)', count=1),
 Row(title='Hellboy (2004)', count=1),
 Row(title='Jumper (2008)', count=1),
 Row(title='Sing (2016)', count=1),
 Row(title='Licence to Kill (1989)', count=1),
 Row(title='Rewrite, The (2014)', count=1),
 Row(title='Black Swan (2010)', count=1),
 Row(title='Naked Gun 33 1/3: The Final Insult (1994)', count=1),
 Row(title='Die Hard 2 (1990)', count=1),
 Row(title='Spider-Man (2002)', count=1),
 Row(title='Face/Off (1997)', count=2),
 Row(title='Total Recall (1990)', count=2),
 Row(title='Tangled Ever After (2012)', count=1),
 Row(title='Negotiator, The (1998)', count=1),
 Row(title='Da Vinci Code, The (2006)', count=1),
 Row(title='Three Caballeros, The (1945)', count=1),
 Row(title='Braveheart (1995)', count=1),
 Row(title='Heat, The (2013)', count=1),
 Row(title='Home Alone 2: Lost in New York (1992)', count=1),
 Row(title='Blade Runner (1982)', count=1),
 Row(title='Star Wars: Episode IV - A New Hope (1977)', count=2),
 Row(title='Texas Chainsaw Massacre, The (1974)', count=1),
 Row(title='Lethal Weapon 2 (1989)', count=1),
 Row(title='White House Down (2013)', count=1),
 Row(title='Saving Private Ryan (1998)', count=1),
 Row(title='Maze Runner, The (2014)', count=1),
 Row(title='Pirates of the Caribbean: Dead Men Tell No Tales (2017)', count=1),
 Row(title='V for Vendetta (2006)', count=1),
 Row(title='Enemy of the State (1998)', count=1),
 Row(title="Monty Python's Life of Brian (1979)", count=1),
 Row(title='Henry V (1989)', count=1),
 Row(title='¡Three Amigos! (1986)', count=1),
 Row(title='Lord of the Rings: The Return of the King, The (2003)', count=1),
 Row(title='Winnie the Pooh and the Honey Tree (1966)', count=1),
 Row(title='Clear and Present Danger (1994)', count=1),
 Row(title='Mission: Impossible II (2000)', count=1),
 Row(title='Terminator Salvation (2009)', count=1),
 Row(title='Pacific Rim (2013)', count=1),
 Row(title='Life of Pi (2012)', count=1),
 Row(title='Meet the Parents (2000)', count=1),
 Row(title='American Hustle (2013)', count=1),
 Row(title='Inside Out (2015)', count=1),
 Row(title='Mummy, The (1999)', count=2),
 Row(title="Breakfast at Tiffany's (1961)", count=1),
 Row(title='Social Network, The (2010)', count=1),
 Row(title='Red (2010)', count=1),
 Row(title='Sixth Sense, The (1999)', count=1),
 Row(title='M*A*S*H (a.k.a. MASH) (1970)', count=1),
 Row(title='Avatar (2009)', count=1),
 Row(title='10 Cent Pistol (2015)', count=1),
 Row(title='Pan (2015)', count=1),
 Row(title='Rocky (1976)', count=1),
 Row(title='Goonies, The (1985)', count=1),
 Row(title='Night at the Museum (2006)', count=1),
 Row(title='Good Morning, Vietnam (1987)', count=1),
 Row(title='Dirty Dozen, The (1967)', count=1),
 Row(title='Jumanji (1995)', count=1),
 Row(title='Four Christmases (2008)', count=1),
 Row(title='How the Grinch Stole Christmas (a.k.a. The Grinch) (2000)', count=1),
 Row(title='Minions (2015)', count=1),
 Row(title='Diamonds Are Forever (1971)', count=1),
 Row(title='Indiana Jones and the Temple of Doom (1984)', count=2),
 Row(title='Monsters, Inc. (2001)', count=1),
 Row(title='Basic Instinct (1992)', count=1),
 Row(title='Lethal Weapon (1987)', count=2),
 Row(title='Jurassic World (2015)', count=1),
 Row(title='Road Trip (2000)', count=2),
 Row(title='National Treasure (2004)', count=1),
 Row(title="Charlotte's Web (1973)", count=1),
 Row(title='Men in Black II (a.k.a. MIIB) (a.k.a. MIB 2) (2002)', count=1),
 Row(title='Romancing the Stone (1984)', count=1),
 Row(title='Gladiator (2000)', count=2),
 Row(title='Back to the Future Part II (1989)', count=1),
 Row(title='Wild Things (1998)', count=1),
 Row(title='Simpsons: The Longest Daycare, The (2012)', count=1),
 Row(title='Spaceballs (1987)', count=1),
 Row(title="McHale's Navy (1997)", count=1),
 Row(title='Hit by Lightning (2014)', count=1),
 Row(title='Platoon (1986)', count=1),
 Row(title='Don Jon (2013)', count=1),
 Row(title='Divergent (2014)', count=1),
 Row(title='21 Jump Street (2012)', count=1),
 Row(title='12 Years a Slave (2013)', count=1),
 Row(title='Talented Mr. Ripley, The (1999)', count=1),
 Row(title='Beverly Hills Cop (1984)', count=1),
 Row(title='Dr. No (1962)', count=2),
 Row(title='Transporter 2 (2005)', count=1),
 Row(title='Trainwreck (2015)', count=1),
 Row(title='Being John Malkovich (1999)', count=1),
 Row(title='Never Say Never Again (1983)', count=1),
 Row(title='Rush Hour 2 (2001)', count=1),
 Row(title='What About Bob? (1991)', count=1),
 Row(title='Hangover, The (2009)', count=1),
 Row(title='Bruce Almighty (2003)', count=1),
 Row(title='Friends with Benefits (2011)', count=1),
 Row(title='The Gracefield Incident (2015)', count=1),
 Row(title='How to Make Love Like an Englishman (2014)', count=1),
 Row(title='The Hunger Games: Mockingjay - Part 1 (2014)', count=1),
 Row(title='Fast & Furious 6 (Fast and the Furious 6, The) (2013)', count=1),
 Row(title='Nightmare Before Christmas, The (1993)', count=1),
 Row(title='Starship Troopers (1997)', count=1),
 Row(title='Grown Ups (2010)', count=1),
 Row(title="Logan's Run (1976)", count=1),
 Row(title='Young Frankenstein (1974)', count=1),
 Row(title="Look Who's Talking (1989)", count=1),
 Row(title='Wallace & Gromit: A Close Shave (1995)', count=1),
 Row(title='Lethal Weapon 3 (1992)', count=1),
 Row(title='Sin City (2005)', count=1),
 Row(title='The Hunger Games: Mockingjay - Part 2 (2015)', count=1),
 Row(title='I, Robot (2004)', count=1),
 Row(title='Ice Age: Dawn of the Dinosaurs (2009)', count=1),
 Row(title='Shining, The (1980)', count=1),
 Row(title='Shaft (1971)', count=1),
 Row(title='E.T. the Extra-Terrestrial (1982)', count=1),
 Row(title='South Park: Bigger, Longer and Uncut (1999)', count=2),
 Row(title='Harry Potter and the Goblet of Fire (2005)', count=1),
 Row(title='Delivery Man (2013)', count=1),
 Row(title='Avengers: Age of Ultron (2015)', count=1),
 Row(title='Escape to Witch Mountain (1975)', count=1),
 Row(title='The Man from U.N.C.L.E. (2015)', count=1),
 Row(title='Mr. Smith Goes to Washington (1939)', count=1),
 Row(title='RoboCop (2014)', count=1),
 Row(title='Megamind (2010)', count=1),
 Row(title='Love Actually (2003)', count=1),
 Row(title='View to a Kill, A (1985)', count=1),
 Row(title='Messenger: The Story of Joan of Arc, The (1999)', count=1),
 Row(title='American Pie (1999)', count=1),
 Row(title='Muppet Christmas: Letters to Santa, A (2008)', count=1)]

In [7]:
# Search movie by id/title, show the average rating, the number of users that have watched the movie
# TODO: Need to translate between ID & Title
def search_movies_watched_by_id(movie_id: int):
    rated_movies = df_ratings.where(f"movieId = {movie_id}")
    tagged_movies = df_tags.where(f"movieId = {movie_id}")
    movies = rated_movies.join(tagged_movies, on=["userId"], how="outer")
    movies = movies.select("userId").distinct()
    return movies.count()
search_movies_watched_by_id(1) # Toy Story

215

In [8]:
# Search movie by id/title, show the average rating, the number of users that have watched the movie
def search_movies_avg_rating_by_id(movie_id: int):
    rated_movies = df_ratings.where(f"movieId = {movie_id}").agg({"rating": "avg"})
    return rated_movies.first()[0]
search_movies_avg_rating_by_id(1) # Toy Story

3.9209302325581397

In [31]:
# Given a list of genres, search all movies belonging each genre
def search_movies_by_genre(genres: [str]):
    movies = df_movies.select("movieId", "title", explode(split(df_movies.genres, "\|")).alias("genre"))
    movies = movies.filter(movies.genre.isin(genres)).dropDuplicates(subset=["movieId"])
    return [row.title for row in movies.select("title").collect()]
#search_movies_by_genre(["Action", "Crime"])

In [14]:
# Search movies by year
def search_movies_by_year(year: int):
    movies = df_movies.select("movieId", "title", substring(df_movies.title, -5, 4).cast(IntegerType()).alias("year"))
    movies = movies.filter(movies.year == year)
    return movies.collect()
search_movies_by_year(1979)

[Row(movieId=1080, title="Monty Python's Life of Brian (1979)", year=1979),
 Row(movieId=1161, title='Tin Drum, The (Blechtrommel, Die) (1979)', year=1979),
 Row(movieId=1208, title='Apocalypse Now (1979)', year=1979),
 Row(movieId=1214, title='Alien (1979)', year=1979),
 Row(movieId=1232, title='Stalker (1979)', year=1979),
 Row(movieId=1244, title='Manhattan (1979)', year=1979),
 Row(movieId=1292, title='Being There (1979)', year=1979),
 Row(movieId=1327, title='Amityville Horror, The (1979)', year=1979),
 Row(movieId=1371, title='Star Trek: The Motion Picture (1979)', year=1979),
 Row(movieId=1955, title='Kramer vs. Kramer (1979)', year=1979),
 Row(movieId=2016, title='Apple Dumpling Gang Rides Again, The (1979)', year=1979),
 Row(movieId=2034, title='Black Hole, The (1979)', year=1979),
 Row(movieId=2109, title='Jerk, The (1979)', year=1979),
 Row(movieId=2409, title='Rocky II (1979)', year=1979),
 Row(movieId=2526, title='Meteor (1979)', year=1979),
 Row(movieId=2537, title='Beyond the Poseidon Adventure (1979)', year=1979),
 Row(movieId=2862, title='Caligula (1979)', year=1979),
 Row(movieId=2901, title='Phantasm (1979)', year=1979),
 Row(movieId=2971, title='All That Jazz (1979)', year=1979),
 Row(movieId=3040, title='Meatballs (1979)', year=1979),
 Row(movieId=3135, title='Great Santini, The (1979)', year=1979),
 Row(movieId=3359, title='Breaking Away (1979)', year=1979),
 Row(movieId=3396, title='Muppet Movie, The (1979)', year=1979),
 Row(movieId=3420, title='...And Justice for All (1979)', year=1979),
 Row(movieId=3428, title='Champ, The (1979)', year=1979),
 Row(movieId=3506, title='North Dallas Forty (1979)', year=1979),
 Row(movieId=3638, title='Moonraker (1979)', year=1979),
 Row(movieId=3702, title='Mad Max (1979)', year=1979),
 Row(movieId=4197, title='Real Life (1979)', year=1979),
 Row(movieId=4292, title='Norma Rae (1979)', year=1979),
 Row(movieId=4788, title='Moscow Does Not Believe in Tears (Moskva slezam ne verit) (1979)', year=1979),
 Row(movieId=4811, title='Quadrophenia (1979)', year=1979),
 Row(movieId=4893, title='When a Stranger Calls (1979)', year=1979),
 Row(movieId=5165, title='Zombie (a.k.a. Zombie 2: The Dead Are Among Us) (Zombi 2) (1979)', year=1979),
 Row(movieId=5209, title='Ffolkes (1979)', year=1979),
 Row(movieId=5489, title='Nosferatu the Vampyre (Nosferatu: Phantom der Nacht) (1979)', year=1979),
 Row(movieId=5544, title='Time After Time (1979)', year=1979),
 Row(movieId=6170, title='Black Stallion, The (1979)', year=1979),
 Row(movieId=6658, title='10 (1979)', year=1979),
 Row(movieId=6665, title='Dracula (1979)', year=1979),
 Row(movieId=6748, title='Brood, The (1979)', year=1979),
 Row(movieId=6821, title='More American Graffiti (1979)', year=1979),
 Row(movieId=7104, title='1941 (1979)', year=1979),
 Row(movieId=7414, title='Going in Style (1979)', year=1979),
 Row(movieId=7698, title='China Syndrome, The (1979)', year=1979),
 Row(movieId=7762, title='Tinker, Tailor, Soldier, Spy (1979)', year=1979),
 Row(movieId=7802, title='Warriors, The (1979)', year=1979),
 Row(movieId=8253, title='Lupin III: The Castle Of Cagliostro (Rupan sansei: Kariosutoro no shiro) (1979)', year=1979),
 Row(movieId=8340, title='Escape from Alcatraz (1979)', year=1979),
 Row(movieId=8427, title='Americathon (1979)', year=1979),
 Row(movieId=8844, title='Camera Buff (Amator) (1979)', year=1979),
 Row(movieId=26401, title='Last Hurrah for Chivalry (Hao xia) (1979)', year=1979),
 Row(movieId=26409, title='Clonus Horror, The (1979)', year=1979),
 Row(movieId=26422, title='Hair (1979)', year=1979),
 Row(movieId=26429, title='Love at First Bite (1979)', year=1979),
 Row(movieId=31522, title='Marriage of Maria Braun, The (Ehe der Maria Braun, Die) (1979)', year=1979),
 Row(movieId=33126, title='Frisco Kid, The (1979)', year=1979),
 Row(movieId=37545, title='Woyzeck (1979)', year=1979),
 Row(movieId=98499, title='Fearless Hyena, The (Xiao quan guai zhao) (1979)', year=1979),
 Row(movieId=102735, title='Captain America (1979)', year=1979),
 Row(movieId=102749, title='Captain America II: Death Too Soon (1979)', year=1979),
 Row(movieId=134252, title='That Munchhausen (1979)', year=1979),
 Row(movieId=135815, title='The Magnificent Ruffians (1979)', year=1979),
 Row(movieId=136359, title='Scooby-Doo Goes Hollywood (1979)', year=1979),
 Row(movieId=141810, title='Autumn Marathon (1979)', year=1979),
 Row(movieId=147328, title='The Adventures of Sherlock Holmes and Dr. Watson: Bloody Signature (1979)', year=1979),
 Row(movieId=147330, title='Sherlock Holmes and Dr. Watson: Acquaintance (1979)', year=1979),
 Row(movieId=158388, title='Buck Rogers in the 25th Century (1979)', year=1979),
 Row(movieId=172637, title='Priklyucheniya Kapitana Vrungelya (1979)', year=1979)]

In [40]:
# List the top n movies with highest rating, ordered by the rating
def top_n_movies_by_rating(n: int):
    top_n = df_ratings.groupBy("movieId")\
        .agg(sf.avg("rating").alias("rating"), sf.count("movieId").alias("count"))\
        .join(df_movies, on=["movieId"], how="inner")\
        .sort(col("rating").desc(), col("count").desc())\
        .limit(n)
    return top_n.collect()
top_n_movies_by_rating(10)

[Row(movieId=6818, rating=5.0, count=2, title='Come and See (Idi i smotri) (1985)', genres='Drama|War'),
 Row(movieId=3473, rating=5.0, count=2, title="Jonah Who Will Be 25 in the Year 2000 (Jonas qui aura 25 ans en l'an 2000) (1976)", genres='Comedy'),
 Row(movieId=1151, rating=5.0, count=2, title='Lesson Faust (1994)', genres='Animation|Comedy|Drama|Fantasy'),
 Row(movieId=78836, rating=5.0, count=2, title='Enter the Void (2009)', genres='Drama'),
 Row(movieId=53, rating=5.0, count=2, title='Lamerica (1994)', genres='Adventure|Drama'),
 Row(movieId=6442, rating=5.0, count=2, title='Belle époque (1992)', genres='Comedy|Romance'),
 Row(movieId=99, rating=5.0, count=2, title='Heidi Fleiss: Hollywood Madam (1995)', genres='Documentary'),
 Row(movieId=113829, rating=5.0, count=1, title='One I Love, The (2014)', genres='Comedy|Drama|Romance'),
 Row(movieId=148, rating=5.0, count=1, title='Awfully Big Adventure, An (1995)', genres='Drama'),
 Row(movieId=67618, rating=5.0, count=1, title='Strictly Sexual (2008)', genres='Comedy|Drama|Romance')]

In [39]:
#### OLD VERSION:
# List the top n movies with highest rating, ordered by the rating
def top_n_movies_by_rating(n: int):
    top_n = df_ratings.groupBy("movieId")\
        .agg(sf.avg("rating").alias("rating"), sf.count("movieId").alias("count"))\
        .sort(col("rating").desc(), col("count").desc())\
        .limit(n)\
        .join(df_movies, on=["movieId"], how="inner")\
        .sort(col("rating").desc(), col("count").desc())
    return top_n.collect()
top_n_movies_by_rating(10)

[Row(movieId=53, rating=5.0, count=2, title='Lamerica (1994)', genres='Adventure|Drama'),
 Row(movieId=99, rating=5.0, count=2, title='Heidi Fleiss: Hollywood Madam (1995)', genres='Documentary'),
 Row(movieId=1151, rating=5.0, count=2, title='Lesson Faust (1994)', genres='Animation|Comedy|Drama|Fantasy'),
 Row(movieId=3473, rating=5.0, count=2, title="Jonah Who Will Be 25 in the Year 2000 (Jonas qui aura 25 ans en l'an 2000) (1976)", genres='Comedy'),
 Row(movieId=6442, rating=5.0, count=2, title='Belle époque (1992)', genres='Comedy|Romance'),
 Row(movieId=6818, rating=5.0, count=2, title='Come and See (Idi i smotri) (1985)', genres='Drama|War'),
 Row(movieId=78836, rating=5.0, count=2, title='Enter the Void (2009)', genres='Drama'),
 Row(movieId=84273, rating=5.0, count=1, title='Zeitgeist: Moving Forward (2011)', genres='Documentary'),
 Row(movieId=152711, rating=5.0, count=1, title='Who Killed Chea Vichea? (2010)', genres='Documentary'),
 Row(movieId=173963, rating=5.0, count=1, title='Empties (2007)', genres='Comedy')]