In [1]:
from pathlib import Path
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, split, explode
from pyspark.sql.types import StringType, IntegerType, BooleanType, FloatType, TimestampType

DATA_DIR = Path("data/ml-latest-small")

In [2]:
spark = SparkSession.builder\
    .master("local")\
    .appName("Word Count")\
    .getOrCreate()

In [3]:
# TODO: Spark schemas?
def read_df(file: str, types: dict):
    df = spark.read\
        .format("csv")\
        .option("header", "true")\
        .load(str(DATA_DIR / file))
    return set_dtypes(df, types)

def set_dtypes(df, types: dict):
    for column, dtype in types.items():
        dtype = {
            str: StringType(),
            int: IntegerType(),
            float: FloatType(),
            bool: BooleanType(),
            "time": TimestampType() 
        }[dtype]
        df = df.withColumn(column, col(column).cast(dtype))
    return df

df_links = read_df("links.csv", {
    "movieId": int,
    "imdbId": int,
    "tmdbId": int
})
df_movies = read_df("movies.csv", {
    "movieId": int,
    "title": str,
    "genres": str
})
df_ratings = read_df("ratings.csv", {
    "userId": int,
    "movieId": int,
    "rating": float,
    "timestamp": "time"
})
df_tags = read_df("tags.csv", {
    "userId": int,
    "movieId": int,
    "tag": str,
    "timestamp": "time"
})

In [7]:
# Given a user, get the number of movies watched per genre
def search_user(user_id: int):
    rated_movies = df_ratings.filter(df_ratings.userId == user_id).select("movieId").distinct()
    tagged_movies = df_tags.filter(df_tags.userId == user_id).select("movieId").distinct()
    movies = rated_movies.union(tagged_movies).distinct().join(df_movies, on=["movieId"], how="inner")
    movies = movies.select(movies.movieId, explode(split(movies.genres, "\|")).alias("genre"))
    movies = movies.groupBy("genre").count()
    return movies.collect()
search_user(1)

[Row(genre='Crime', count=45),
 Row(genre='Romance', count=26),
 Row(genre='Thriller', count=55),
 Row(genre='Adventure', count=85),
 Row(genre='Drama', count=68),
 Row(genre='War', count=22),
 Row(genre='Fantasy', count=47),
 Row(genre='Mystery', count=18),
 Row(genre='Musical', count=22),
 Row(genre='Animation', count=29),
 Row(genre='Film-Noir', count=1),
 Row(genre='Horror', count=17),
 Row(genre='Western', count=7),
 Row(genre='Comedy', count=83),
 Row(genre='Children', count=42),
 Row(genre='Action', count=90),
 Row(genre='Sci-Fi', count=40)]

In [24]:
df_ratings.filter("userId = 21").filter("movieId=1").collect()

[Row(userId=21, movieId=1, rating=3.5, timestamp=None)]

In [29]:
# Given a list of users, search all movies watched by each user
def search_movies_by_users(user_ids: [int]):
    rated_movies = df_ratings.filter(df_ratings.userId.isin(user_ids))
    tagged_movies = df_tags.filter(df_tags.userId.isin(user_ids))
    movies = rated_movies.join(tagged_movies, on=["userId", "movieId"], how="outer")
    movies = movies.select("userId", "movieId").distinct()
    movies = movies.groupBy("movieId").count().join(df_movies, on=["movieId"]).select("title", "count")
    return movies.collect()
search_movies_by_users([1, 21])

Row(title='Pride & Prejudice (2005)', count=1),
 Row(title='Who Framed Roger Rabbit? (1988)', count=1),
 Row(title='Pink Floyd: The Wall (1982)', count=1),
 Row(title='Logan (2017)', count=1),
 Row(title='Teenage Mutant Ninja Turtles III (1993)', count=1),
 Row(title='Ratatouille (2007)', count=1),
 Row(title='Transformers: The Movie (1986)', count=1),
 Row(title='Kingsman: The Secret Service (2015)', count=1),
 Row(title='The Interview (2014)', count=1),
 Row(title='Moonraker (1979)', count=1),
 Row(title='Monty Python and the Holy Grail (1975)', count=1),
 Row(title='Jurassic Park III (2001)', count=1),
 Row(title='Predator (1987)', count=1),
 Row(title='Dennis the Menace (1993)', count=1),
 Row(title='Collateral (2004)', count=1),
 Row(title='Welcome to Woop-Woop (1997)', count=1),
 Row(title='Big Lebowski, The (1998)', count=1),
 Row(title='Frozen (2013)', count=1),
 Row(title='Die Hard: With a Vengeance (1995)', count=1),
 Row(title='Terminator, The (1984)', count=2),
 Row(title='Office Christmas Party (2016)', count=1),
 Row(title='Fifth Element, The (1997)', count=1),
 Row(title='Willy Wonka & the Chocolate Factory (1971)', count=1),
 Row(title='Dances with Wolves (1990)', count=1),
 Row(title='Sneakers (1992)', count=1),
 Row(title='Pitch Perfect 2 (2015)', count=1),
 Row(title='Born to Kill (1947)', count=1),
 Row(title='Mamma Mia! (2008)', count=1),
 Row(title='Stargate (1994)', count=1),
 Row(title='Predator 2 (1990)', count=1),
 Row(title='Short Circuit (1986)', count=1),
 Row(title='Rocky Horror Picture Show, The (1975)', count=1),
 Row(title="It's a Very Merry Muppet Christmas Movie (2002)", count=1),
 Row(title='Blazing Saddles (1974)', count=1),
 Row(title='Idiocracy (2006)', count=1),
 Row(title='13th Warrior, The (1999)', count=1),
 Row(title='Hitch (2005)', count=1),
 Row(title='Wolf Man, The (1941)', count=1),
 Row(title='Psycho (1960)', count=1),
 Row(title='Dumb & Dumber (Dumb and Dumber) (1994)', count=1),
 Row(title='First Blood (Rambo: First Blood) (1982)', count=1),
 Row(title='Three Musketeers, The (1993)', count=1),
 Row(title='American Tail, An (1986)', count=1),
 Row(title='Mission: Impossible - Rogue Nation (2015)', count=1),
 Row(title='Labyrinth (1986)', count=1),
 Row(title='Home Alone (1990)', count=1),
 Row(title='Jungle Book, The (1967)', count=1),
 Row(title='Holiday, The (2006)', count=1),
 Row(title='Peter Pan (1953)', count=1),
 Row(title='Great Mouse Detective, The (1986)', count=1),
 Row(title='Toy Story 2 (1999)', count=1),
 Row(title='Dictator, The (2012)', count=1),
 Row(title='Blown Away (1994)', count=1),
 Row(title='Terminal, The (2004)', count=1),
 Row(title='Interstellar (2014)', count=1),
 Row(title='Iron Man (2008)', count=1),
 Row(title='Zootopia (2016)', count=1),
 Row(title='Big Trouble in Little China (1986)', count=1),
 Row(title='Kill Bill: Vol. 1 (2003)', count=1),
 Row(title='Goldfinger (1964)', count=2),
 Row(title='Ghostbusters (a.k.a. Ghost Busters) (1984)', count=2),
 Row(title='Tourist, The (2010)', count=1),
 Row(title='Song of the South (1946)', count=1),
 Row(title='Rush Hour (1998)', count=2),
 Row(title='Batman Returns (1992)', count=1),
 Row(title='Pirates of the Caribbean: The Curse of the Black Pearl (2003)', count=1),
 Row(title='Brave (2012)', count=1),
 Row(title='Amazing Spider-Man, The (2012)', count=1),
 Row(title='Beetlejuice (1988)', count=2),
 Row(title='Wedding Date, The (2005)', count=1),
 Row(title='Meet the Fockers (2004)', count=1),
 Row(title='300 (2007)', count=1),
 Row(title='Edge of Tomorrow (2014)', count=1),
 Row(title='Dazed and Confused (1993)', count=1),
 Row(title='Rise of the Planet of the Apes (2011)', count=1),
 Row(title='Rock, The (1996)', count=2),
 Row(title='I Still Know What You Did Last Summer (1998)', count=1),
 Row(title='Scream 3 (2000)', count=1),
 Row(title='Lone Ranger, The (2013)', count=1),
 Row(title='Proposal, The (2009)', count=1),
 Row(title='Bourne Legacy, The (2012)', count=1),
 Row(title='Iron Man 3 (2013)', count=1),
 Row(title='Die Hard (1988)', count=1),
 Row(title='Ride Along (2014)', count=1),
 Row(title='Alice in Wonderland (2010)', count=1),
 Row(title='Excalibur (1981)', count=1),
 Row(title='Live and Let Die (1973)', count=2),
 Row(title='Rambo: First Blood Part II (1985)', count=1),
 Row(title='Music and Lyrics (2007)', count=1),
 Row(title='Thunderball (1965)', count=2),
 Row(title='Sherlock Holmes (2009)', count=1),
 Row(title='Flight of the Navigator (1986)', count=1),
 Row(title='Ted (2012)', count=1),
 Row(title="You've Got Mail (1998)", count=1),
 Row(title='Forgetting Sarah Marshall (2008)', count=1),
 Row(title='Star Wars: The Clone Wars (2008)', count=1),
 Row(title='Spy (2015)', count=1),
 Row(title='Real Steel (2011)', count=1),
 Row(title='Ladyhawke (1985)', count=1),
 Row(title='Southpaw (2015)', count=1),
 Row(title='Duck Soup (1933)', count=1),
 Row(title='Fight Club (1999)', count=2),
 Row(title='Multiplicity (1996)', count=1),
 Row(title='Bourne Identity, The (2002)', count=1),
 Row(title='Swingers (1996)', count=1),
 Row(title='Quantum of Solace (2008)', count=1),
 Row(title='X-Men: Days of Future Past (2014)', count=1),
 Row(title="Ocean's Twelve (2004)", count=1),
 Row(title='Twister (1996)', count=1),
 Row(title='The Amazing Spider-Man 2 (2014)', count=1),
 Row(title='Mission: Impossible (1996)', count=2),
 Row(title='Ghostbusters II (1989)', count=1),
 Row(title='La La Land (2016)', count=1),
 Row(title='Austin Powers in Goldmember (2002)', count=1),
 Row(title='Wolf of Wall Street, The (2013)', count=1),
 Row(title='Ice Age (2002)', count=1),
 Row(title='Grand Budapest Hotel, The (2014)', count=1),
 Row(title='Star Wars: Episode VII - The Force Awakens (2015)', count=1),
 Row(title='Paul Blart: Mall Cop 2 (2015)', count=1),
 Row(title='Kiss the Girls (1997)', count=1),
 Row(title='Thousand Words, A (2012)', count=1),
 Row(title='Dogma (1999)', count=1),
 Row(title='Blind Side, The  (2009)', count=1),
 Row(title='Harry Potter and the Chamber of Secrets (2002)', count=1),
 Row(title='Bad Boys II (2003)', count=1),
 Row(title='Aliens (1986)', count=1),
 Row(title='American Pie Presents Beta House (American Pie 6: Beta House) (2007)', count=1),
 Row(title='Annie Hall (1977)', count=1),
 Row(title='Legend (1985)', count=1),
 Row(title='So I Married an Axe Murderer (1993)', count=1),
 Row(title='James and the Giant Peach (1996)', count=1),
 Row(title='Kill Bill: Vol. 2 (2004)', count=1),
 Row(title='Click (2006)', count=1),
 Row(title='Transformers: Revenge of the Fallen (2009)', count=1),
 Row(title='Man with the Golden Gun, The (1974)', count=2),
 Row(title='War of the Worlds (2005)', count=1),
 Row(title='Decoy Bride, The (2011)', count=1),
 Row(title="On Her Majesty's Secret Service (1969)", count=1),
 Row(title='Transporter, The (2002)', count=1),
 Row(title='Game, The (1997)', count=1),
 Row(title='2012 (2009)', count=1),
 Row(title='Bolt (2008)', count=1),
 Row(title='JFK (1991)', count=1),
 Row(title='Guardians of the Galaxy (2014)', count=1),
 Row(title='Terminator 2: Judgment Day (1991)', count=1),
 Row(title='GoldenEye (1995)', count=1),
 Row(title='Kung Fu Panda (2008)', count=1),
 Row(title='Wedding Crashers (2005)', count=1),
 Row(title='Blade (1998)', count=1),
 Row(title='Transformers: Dark of the Moon (2011)', count=1),
 Row(title='Superman II (1980)', count=1),
 Row(title='Usual Suspects, The (1995)', count=1),
 Row(title='The Little Prince (2015)', count=1),
 Row(title='Alien (1979)', count=2),
 Row(title='Rushmore (1998)', count=1),
 Row(title='Easy Rider (1969)', count=1),
 Row(title="Pirates of the Caribbean: At World's End (2007)", count=1),
 Row(title="Schindler's List (1993)", count=1),
 Row(title='Harry Potter and the Prisoner of Azkaban (2004)', count=1),
 Row(title='Catch Me If You Can (2002)', count=1),
 Row(title='Back to the Future Part III (1990)', count=2),
 Row(title='Notting Hill (1999)', count=1),
 Row(title='Léon: The Professional (a.k.a. The Professional) (Léon) (1994)', count=1),
 Row(title='Batman: The Dark Knight Returns, Part 1 (2012)', count=1),
 Row(title='Kick-Ass (2010)', count=1),
 Row(title='Good Will Hunting (1997)', count=1),
 Row(title='The Purge: Election Year (2016)', count=1),
 Row(title="King's Speech, The (2010)", count=1),
 Row(title='Billy Madison (1995)', count=1),
 Row(title='The Escort (2015)', count=1),
 Row(title='Stretch (2014)', count=1),
 Row(title='Lethal Weapon 4 (1998)', count=1),
 Row(title='Thor: The Dark World (2013)', count=1),
 Row(title='Modern Times (1936)', count=1),
 Row(title='It Takes Two (1995)', count=1),
 Row(title='Casino Royale (1967)', count=1),
 Row(title='Police Academy (1984)', count=1),
 Row(title='Lion King, The (1994)', count=1),
 Row(title='Dark Knight Rises, The (2012)', count=1),
 Row(title='Star Wars: Episode II - Attack of the Clones (2002)', count=1),
 Row(title='Films to Keep You Awake: The Christmas Tale (Películas para no dormir: Cuento de navidad) (2005)', count=1),
 Row(title='Avengers, The (2012)', count=1),
 Row(title='Ghost and the Darkness, The (1996)', count=1),
 Row(title='Forrest Gump (1994)', count=2),
 Row(title='Surviving Christmas (2004)', count=1),
 Row(title='Deadpool (2016)', count=1),
 Row(title='Burnt (2015)', count=1),
 Row(title='SLC Punk! (1998)', count=1),
 Row(title='American Beauty (1999)', count=2),
 Row(title='Frankenstein (1931)', count=1),
 Row(title='Black Cauldron, The (1985)', count=1),
 Row(title="Gulliver's Travels (1939)", count=1),
 Row(title='Goodfellas (1990)', count=1),
 Row(title='Satanic (2016)', count=1),
 Row(title='Slumdog Millionaire (2008)', count=1),
 Row(title='From Dusk Till Dawn (1996)', count=1),
 Row(title='Planet of the Apes (1968)', count=2),
 Row(title='Hobbit: The Desolation of Smaug, The (2013)', count=1),
 Row(title='You Only Live Twice (1967)', count=1),
 Row(title='Jurassic Park (1993)', count=2),
 Row(title='Captain America: The First Avenger (2011)', count=1),
 Row(title='Chronicles of Narnia: The Lion, the Witch and the Wardrobe, The (2005)', count=1),
 Row(title='Hancock (2008)', count=1),
 Row(title='Die Another Day (2002)', count=1),
 Row(title='Naked Gun: From the Files of Police Squad!, The (1988)', count=1),
 Row(title='Knight and Day (2010)', count=1),
 Row(title='Secret of NIMH, The (1982)', count=1),
 Row(title='From Russia with Love (1963)', count=2),
 Row(title='Cruel Intentions (1999)', count=1),
 Row(title='Despicable Me 2 (2013)', count=1),
 Row(title='Godfather: Part II, The (1974)', count=1),
 Row(title='Edward Scissorhands (1990)', count=1),
 Row(title="Wayne's World (1992)", count=2),
 Row(title='Conan the Barbarian (1982)', count=1),
 Row(title='John Wick: Chapter Two (2017)', count=1),
 Row(title="Dr. Horrible's Sing-Along Blog (2008)", count=1),
 Row(title='Con Air (1997)', count=1),
 Row(title='Lord of the Rings, The (1978)', count=1),
 Row(title='Naked Gun 2 1/2: The Smell of Fear, The (1991)', count=1),
 Row(title='The Good Dinosaur (2015)', count=1),
 Row(title='Doctor Strange (2016)', count=1),
 Row(title='Nosferatu (Nosferatu, eine Symphonie des Grauens) (1922)', count=1),
 Row(title='That Thing You Do! (1996)', count=1),
 Row(title='Monsters University (2013)', count=1),
 Row(title='Bag Man, The (2014)', count=1),
 Row(title='John Wick (2014)', count=1),
 Row(title='Men in Black III (M.III.B.) (M.I.B.³) (2012)', count=1),
 Row(title='Big Eyes (2014)', count=1),
 Row(title='Small Soldiers (1998)', count=1),
 Row(title='Spider-Man 2 (2004)', count=1),
 Row(title='American Pie Presents The Naked Mile (American Pie 5: The Naked Mile) (2006)', count=1),
 Row(title='Living Daylights, The (1987)', count=1),
 Row(title='Psycho (1998)', count=1),
 Row(title='Howard the Duck (1986)', count=1),
 Row(title='Star Wars: Episode III - Revenge of the Sith (2005)', count=1),
 Row(title='Fantasia (1940)', count=1),
 Row(title='Fantastic Four (2005)', count=1),
 Row(title='Fugitive, The (1993)', count=1),
 Row(title='World Is Not Enough, The (1999)', count=1),
 Row(title='Wreck-It Ralph (2012)', count=1),
 Row(title='Rob Roy (1995)', count=1),
 Row(title='Shrek (2001)', count=1),
 Row(title='How to Train Your Dragon 2 (2014)', count=1),
 Row(title='Fargo (1996)', count=1),
 Row(title='Drinking Buddies (2013)', count=1),
 Row(title='22 Jump Street (2014)', count=1),
 Row(title='Ghost and Mrs. Muir, The (1947)', count=1),
 Row(title='Limitless (2011)', count=1),
 Row(title='Batman (1989)', count=2),
 Row(title='Winnie the Pooh and the Blustery Day (1968)', count=1),
 Row(title='Veronica Mars (2014)', count=1),
 Row(title='X-Files: Fight the Future, The (1998)', count=1),
 Row(title='Bad Boys (1995)', count=1),
 Row(title="Ocean's Eleven (2001)", count=1),
 Row(title='Sister Act (1992)', count=1),
 Row(title='Adventures of Robin Hood, The (1938)', count=1),
 Row(title='L.A. Confidential (1997)', count=1),
 Row(title='Return to Oz (1985)', count=1),
 Row(title='Toys (1992)', count=1),
 Row(title='Thin Red Line, The (1998)', count=1),
 Row(title='Beauty and the Beast: The Enchanted Christmas (1997)', count=1),
 Row(title='Mission: Impossible III (2006)', count=1),
 Row(title='Lord of the Rings: The Two Towers, The (2002)', count=1),
 Row(title='Iron Man 2 (2010)', count=1),
 Row(title='Neighbors (2014)', count=1),
 Row(title='Wallace & Gromit in The Curse of the Were-Rabbit (2005)', count=1),
 Row(title='Last of the Mohicans, The (1992)', count=1),
 Row(title='Lost World: Jurassic Park, The (1997)', count=1),
 Row(title='Hackers (1995)', count=1),
 Row(title='Star Wars: Episode V - The Empire Strikes Back (1980)', count=2),
 Row(title='Coffee Town (2013)', count=1),
 Row(title='Hellboy (2004)', count=1),
 Row(title='Jumper (2008)', count=1),
 Row(title='Sing (2016)', count=1),
 Row(title='Licence to Kill (1989)', count=1),
 Row(title='Rewrite, The (2014)', count=1),
 Row(title='Black Swan (2010)', count=1),
 Row(title='Naked Gun 33 1/3: The Final Insult (1994)', count=1),
 Row(title='Die Hard 2 (1990)', count=1),
 Row(title='Spider-Man (2002)', count=1),
 Row(title='Face/Off (1997)', count=2),
 Row(title='Total Recall (1990)', count=2),
 Row(title='Tangled Ever After (2012)', count=1),
 Row(title='Negotiator, The (1998)', count=1),
 Row(title='Da Vinci Code, The (2006)', count=1),
 Row(title='Three Caballeros, The (1945)', count=1),
 Row(title='Braveheart (1995)', count=1),
 Row(title='Heat, The (2013)', count=1),
 Row(title='Home Alone 2: Lost in New York (1992)', count=1),
 Row(title='Blade Runner (1982)', count=1),
 Row(title='Star Wars: Episode IV - A New Hope (1977)', count=2),
 Row(title='Texas Chainsaw Massacre, The (1974)', count=1),
 Row(title='Lethal Weapon 2 (1989)', count=1),
 Row(title='White House Down (2013)', count=1),
 Row(title='Saving Private Ryan (1998)', count=1),
 Row(title='Maze Runner, The (2014)', count=1),
 Row(title='Pirates of the Caribbean: Dead Men Tell No Tales (2017)', count=1),
 Row(title='V for Vendetta (2006)', count=1),
 Row(title='Enemy of the State (1998)', count=1),
 Row(title="Monty Python's Life of Brian (1979)", count=1),
 Row(title='Henry V (1989)', count=1),
 Row(title='¡Three Amigos! (1986)', count=1),
 Row(title='Lord of the Rings: The Return of the King, The (2003)', count=1),
 Row(title='Winnie the Pooh and the Honey Tree (1966)', count=1),
 Row(title='Clear and Present Danger (1994)', count=1),
 Row(title='Mission: Impossible II (2000)', count=1),
 Row(title='Terminator Salvation (2009)', count=1),
 Row(title='Pacific Rim (2013)', count=1),
 Row(title='Life of Pi (2012)', count=1),
 Row(title='Meet the Parents (2000)', count=1),
 Row(title='American Hustle (2013)', count=1),
 Row(title='Inside Out (2015)', count=1),
 Row(title='Mummy, The (1999)', count=2),
 Row(title="Breakfast at Tiffany's (1961)", count=1),
 Row(title='Social Network, The (2010)', count=1),
 Row(title='Red (2010)', count=1),
 Row(title='Sixth Sense, The (1999)', count=1),
 Row(title='M*A*S*H (a.k.a. MASH) (1970)', count=1),
 Row(title='Avatar (2009)', count=1),
 Row(title='10 Cent Pistol (2015)', count=1),
 Row(title='Pan (2015)', count=1),
 Row(title='Rocky (1976)', count=1),
 Row(title='Goonies, The (1985)', count=1),
 Row(title='Night at the Museum (2006)', count=1),
 Row(title='Good Morning, Vietnam (1987)', count=1),
 Row(title='Dirty Dozen, The (1967)', count=1),
 Row(title='Jumanji (1995)', count=1),
 Row(title='Four Christmases (2008)', count=1),
 Row(title='How the Grinch Stole Christmas (a.k.a. The Grinch) (2000)', count=1),
 Row(title='Minions (2015)', count=1),
 Row(title='Diamonds Are Forever (1971)', count=1),
 Row(title='Indiana Jones and the Temple of Doom (1984)', count=2),
 Row(title='Monsters, Inc. (2001)', count=1),
 Row(title='Basic Instinct (1992)', count=1),
 Row(title='Lethal Weapon (1987)', count=2),
 Row(title='Jurassic World (2015)', count=1),
 Row(title='Road Trip (2000)', count=2),
 Row(title='National Treasure (2004)', count=1),
 Row(title="Charlotte's Web (1973)", count=1),
 Row(title='Men in Black II (a.k.a. MIIB) (a.k.a. MIB 2) (2002)', count=1),
 Row(title='Romancing the Stone (1984)', count=1),
 Row(title='Gladiator (2000)', count=2),
 Row(title='Back to the Future Part II (1989)', count=1),
 Row(title='Wild Things (1998)', count=1),
 Row(title='Simpsons: The Longest Daycare, The (2012)', count=1),
 Row(title='Spaceballs (1987)', count=1),
 Row(title="McHale's Navy (1997)", count=1),
 Row(title='Hit by Lightning (2014)', count=1),
 Row(title='Platoon (1986)', count=1),
 Row(title='Don Jon (2013)', count=1),
 Row(title='Divergent (2014)', count=1),
 Row(title='21 Jump Street (2012)', count=1),
 Row(title='12 Years a Slave (2013)', count=1),
 Row(title='Talented Mr. Ripley, The (1999)', count=1),
 Row(title='Beverly Hills Cop (1984)', count=1),
 Row(title='Dr. No (1962)', count=2),
 Row(title='Transporter 2 (2005)', count=1),
 Row(title='Trainwreck (2015)', count=1),
 Row(title='Being John Malkovich (1999)', count=1),
 Row(title='Never Say Never Again (1983)', count=1),
 Row(title='Rush Hour 2 (2001)', count=1),
 Row(title='What About Bob? (1991)', count=1),
 Row(title='Hangover, The (2009)', count=1),
 Row(title='Bruce Almighty (2003)', count=1),
 Row(title='Friends with Benefits (2011)', count=1),
 Row(title='The Gracefield Incident (2015)', count=1),
 Row(title='How to Make Love Like an Englishman (2014)', count=1),
 Row(title='The Hunger Games: Mockingjay - Part 1 (2014)', count=1),
 Row(title='Fast & Furious 6 (Fast and the Furious 6, The) (2013)', count=1),
 Row(title='Nightmare Before Christmas, The (1993)', count=1),
 Row(title='Starship Troopers (1997)', count=1),
 Row(title='Grown Ups (2010)', count=1),
 Row(title="Logan's Run (1976)", count=1),
 Row(title='Young Frankenstein (1974)', count=1),
 Row(title="Look Who's Talking (1989)", count=1),
 Row(title='Wallace & Gromit: A Close Shave (1995)', count=1),
 Row(title='Lethal Weapon 3 (1992)', count=1),
 Row(title='Sin City (2005)', count=1),
 Row(title='The Hunger Games: Mockingjay - Part 2 (2015)', count=1),
 Row(title='I, Robot (2004)', count=1),
 Row(title='Ice Age: Dawn of the Dinosaurs (2009)', count=1),
 Row(title='Shining, The (1980)', count=1),
 Row(title='Shaft (1971)', count=1),
 Row(title='E.T. the Extra-Terrestrial (1982)', count=1),
 Row(title='South Park: Bigger, Longer and Uncut (1999)', count=2),
 Row(title='Harry Potter and the Goblet of Fire (2005)', count=1),
 Row(title='Delivery Man (2013)', count=1),
 Row(title='Avengers: Age of Ultron (2015)', count=1),
 Row(title='Escape to Witch Mountain (1975)', count=1),
 Row(title='The Man from U.N.C.L.E. (2015)', count=1),
 Row(title='Mr. Smith Goes to Washington (1939)', count=1),
 Row(title='RoboCop (2014)', count=1),
 Row(title='Megamind (2010)', count=1),
 Row(title='Love Actually (2003)', count=1),
 Row(title='View to a Kill, A (1985)', count=1),
 Row(title='Messenger: The Story of Joan of Arc, The (1999)', count=1),
 Row(title='American Pie (1999)', count=1),
 Row(title='Muppet Christmas: Letters to Santa, A (2008)', count=1)]

In [35]:
# Search movie by id/title, show the average rating, the number of users that have watched the movie
def search_movies_watched_by_id(movie_id: int):
    rated_movies = df_ratings.where(f"movieId = {movie_id}")
    tagged_movies = df_tags.where(f"movieId = {movie_id}")
    movies = rated_movies.join(tagged_movies, on=["userId"], how="outer")
    movies = movies.select("userId").distinct()
    return movies.count()
search_movies_watched_by_id(1) # Toy Story

215

In [54]:
# Search movie by id/title, show the average rating, the number of users that have watched the movie
def search_movies_avg_rating_by_id(movie_id: int):
    rated_movies = df_ratings.where(f"movieId = {movie_id}").agg({"rating": "avg"})
    return rated_movies.first()[0]
search_movies_avg_rating_by_id(1) # Toy Story

3.9209302325581397

In [62]:
# Given a list of genres, search all movies belonging to each genre
def search_movies_by_genre(genres: [str]):
    movies = df_movies.select("movieId", "title", explode(split(df_movies.genres, "\|")).alias("genre"))
    movies = movies.filter(movies.genre.isin(genres)).dropDuplicates("movieId") # TODO: fix error with dropDuplicates
    return movies.collect()
search_movies_by_genre(["Action"])

pon a Time in China III (Wong Fei-hung tsi sam: Siwong tsangba) (1993)', genre='Action'),
 Row(movieId=6754, title='Underworld (2003)', genre='Action'),
 Row(movieId=6764, title='Rundown, The (2003)', genre='Action'),
 Row(movieId=6800, title='Cobra (1986)', genre='Action'),
 Row(movieId=6808, title='Where Eagles Dare (1968)', genre='Action'),
 Row(movieId=6812, title='Rookie, The (1990)', genre='Action'),
 Row(movieId=6814, title='City Heat (1984)', genre='Action'),
 Row(movieId=6835, title='Alien Contamination (1980)', genre='Action'),
 Row(movieId=6857, title='Ninja Scroll (Jûbei ninpûchô) (1995)', genre='Action'),
 Row(movieId=6872, title='House of the Dead, The (2003)', genre='Action'),
 Row(movieId=6874, title='Kill Bill: Vol. 1 (2003)', genre='Action'),
 Row(movieId=6882, title='Returner (Ritaanaa) (2002)', genre='Action'),
 Row(movieId=6893, title='Italian Job, The (1969)', genre='Action'),
 Row(movieId=6934, title='Matrix Revolutions, The (2003)', genre='Action'),
 Row(movieId=6946, title='Looney Tunes: Back in Action (2003)', genre='Action'),
 Row(movieId=6959, title='Timeline (2003)', genre='Action'),
 Row(movieId=6966, title='Darkman (1990)', genre='Action'),
 Row(movieId=6990, title='The Great Train Robbery (1978)', genre='Action'),
 Row(movieId=6994, title='Hard Way, The (1991)', genre='Action'),
 Row(movieId=6996, title='Highlander II: The Quickening (1991)', genre='Action'),
 Row(movieId=7000, title='Hudson Hawk (1991)', genre='Action'),
 Row(movieId=7004, title='Kindergarten Cop (1990)', genre='Action'),
 Row(movieId=7007, title='Last Boy Scout, The (1991)', genre='Action'),
 Row(movieId=7016, title='Over the Top (1987)', genre='Action'),
 Row(movieId=7017, title='Passenger 57 (1992)', genre='Action'),
 Row(movieId=7022, title='Battle Royale (Batoru rowaiaru) (2000)', genre='Action'),
 Row(movieId=7027, title='Silverado (1985)', genre='Action'),
 Row(movieId=7031, title='Real McCoy, The (1993)', genre='Action'),
 Row(movieId=7040, title='To Live and Die in L.A. (1985)', genre='Action'),
 Row(movieId=7047, title='Year of the Dragon (1985)', genre='Action'),
 Row(movieId=7048, title='Nothing to Lose (1997)', genre='Action'),
 Row(movieId=7056, title='Public Enemy, The (1931)', genre='Action'),
 Row(movieId=7070, title='Red River (1948)', genre='Action'),
 Row(movieId=7072, title='Stagecoach (1939)', genre='Action'),
 Row(movieId=7076, title='Bullitt (1968)', genre='Action'),
 Row(movieId=7090, title='Hero (Ying xiong) (2002)', genre='Action'),
 Row(movieId=7108, title='Crime Story (Zhong an zu) (1993)', genre='Action'),
 Row(movieId=7127, title='Run (1991)', genre='Action'),
 Row(movieId=7143, title='Last Samurai, The (2003)', genre='Action'),
 Row(movieId=7153, title='Lord of the Rings: The Return of the King, The (2003)', genre='Action'),
 Row(movieId=7163, title='Paycheck (2003)', genre='Action'),
 Row(movieId=7164, title='Peter Pan (2003)', genre='Action'),
 Row(movieId=7175, title='Torque (2004)', genre='Action'),
 Row(movieId=7192, title='Only the Strong (1993)', genre='Action'),
 Row(movieId=7193, title='Adventures of Ford Fairlane, The (1990)', genre='Action'),
 Row(movieId=7235, title='Ichi the Killer (Koroshiya 1) (2001)', genre='Action'),
 Row(movieId=7248, title='Suriyothai (a.k.a. Legend of Suriyothai, The) (2001)', genre='Action'),
 Row(movieId=7262, title='Catch That Kid (2004)', genre='Action'),
 Row(movieId=7302, title='Thief of Bagdad, The (1924)', genre='Action'),
 Row(movieId=7307, title='Flesh & Blood (1985)', genre='Action'),
 Row(movieId=7310, title='Raw Deal (1986)', genre='Action'),
 Row(movieId=7325, title='Starsky & Hutch (2004)', genre='Action'),
 Row(movieId=7345, title='Agent Cody Banks 2: Destination London (2004)', genre='Action'),
 Row(movieId=7360, title='Dawn of the Dead (2004)', genre='Action'),
 Row(movieId=7369, title='Scooby-Doo 2: Monsters Unleashed (2004)', genre='Action'),
 Row(movieId=7373, title='Hellboy (2004)', genre='Action'),
 Row(movieId=7376, title='Walking Tall (2004)', genre='Action'),
 Row(movieId=7381, title='Whole Ten Yards, The (2004)', genre='Action'),
 Row(movieId=7387, title='Dawn of the Dead (1978)', genre='Action'),
 Row(movieId=7394, title='Those Magnificent Men in Their Flying Machines (1965)', genre='Action'),
 Row(movieId=7438, title='Kill Bill: Vol. 2 (2004)', genre='Action'),
 Row(movieId=7439, title='Punisher, The (2004)', genre='Action'),
 Row(movieId=7445, title='Man on Fire (2004)', genre='Action'),
 Row(movieId=7454, title='Van Helsing (2004)', genre='Action'),
 Row(movieId=7458, title='Troy (2004)', genre='Action'),
 Row(movieId=7482, title='Enter the Dragon (1973)', genre='Action'),
 Row(movieId=7562, title='Dobermann (1997)', genre='Action'),
 Row(movieId=7569, title='You Only Live Twice (1967)', genre='Action'),
 Row(movieId=7570, title='Octopussy (1983)', genre='Action'),
 Row(movieId=7573, title='Never Say Never Again (1983)', genre='Action'),
 Row(movieId=7657, title='Versus (2000)', genre='Action'),
 Row(movieId=7700, title='Wages of Fear, The (Salaire de la peur, Le) (1953)', genre='Action'),
 Row(movieId=7704, title='Delta Force, The (1986)', genre='Action'),
 Row(movieId=7720, title='Four Musketeers, The (1974)', genre='Action'),
 Row(movieId=7756, title='Alexander Nevsky (Aleksandr Nevskiy) (1938)', genre='Action'),
 Row(movieId=7757, title='Jason and the Argonauts (1963)', genre='Action'),
 Row(movieId=7766, title='Throne of Blood (Kumonosu jô) (1957)', genre='Action'),
 Row(movieId=7782, title='Sniper (1993)', genre='Action'),
 Row(movieId=7802, title='Warriors, The (1979)', genre='Action'),
 Row(movieId=7844, title='Legend, The (Legend of Fong Sai-Yuk, The) (Fong Sai Yuk) (1993)', genre='Action'),
 Row(movieId=7894, title='Duck, You Sucker (1971)', genre='Action'),
 Row(movieId=7899, title='Master of the Flying Guillotine (Du bi quan wang da po xue di zi) (1975)', genre='Action'),
 Row(movieId=7925, title='Hidden Fortress, The (Kakushi-toride no san-akunin) (1958)', genre='Action'),
 Row(movieId=7980, title='Bridge Too Far, A (1977)', genre='Action'),
 Row(movieId=7991, title='Death Race 2000 (1975)', genre='Action'),
 Row(movieId=8016, title='Getaway, The (1972)', genre='Action'),
 Row(movieId=8045, title='Hamburger Hill (1987)', genre='Action'),
 Row(movieId=8093, title='Shiri (Swiri) (1999)', genre='Action'),
 Row(movieId=8117, title='In China They Eat Dogs (I Kina spiser de hunde) (1999)', genre='Action'),
 Row(movieId=8118, title='Delta Force 2 (Delta Force 2: The Colombian Connection) (1990)', genre='Action'),
 Row(movieId=8132, title='Gladiator (1992)', genre='Action'),
 Row(movieId=8142, title='Dead or Alive: Hanzaisha (1999)', genre='Action'),
 Row(movieId=8167, title='Captain Blood (1935)', genre='Action'),
 Row(movieId=8235, title='Safety Last! (1923)', genre='Action'),
 Row(movieId=8241, title='Masterminds (1997)', genre='Action'),
 Row(movieId=8253, title='Lupin III: The Castle Of Cagliostro (Rupan sansei: Kariosutoro no shiro) (1979)', genre='Action'),
 Row(movieId=8268, title='Point of No Return (1993)', genre='Action'),
 Row(movieId=8290, title='Mitchell (1975)', genre='Action'),
 Row(movieId=8361, title='Day After Tomorrow, The (2004)', genre='Action'),
 Row(movieId=8369, title='Mindhunters (2004)', genre='Action'),
 Row(movieId=8370, title='Blind Swordsman: Zatoichi, The (Zatôichi) (2003)', genre='Action'),
 Row(movieId=8371, title='Chronicles of Riddick, The (2004)', genre='Action'),
 Row(movieId=8446, title='Sands of Iwo Jima (1949)', genre='Action'),
 Row(movieId=8481, title='Northwest Passage (1940)', genre='Action'),
 Row(movieId=8493, title='Memphis Belle (1990)', genre='Action'),
 Row(movieId=8500, title='Godzilla vs. Mechagodzilla (Gojira tai Mekagojira) (1974)', genre='Action'),
 Row(movieId=8501, title='Hitcher, The (1986)', genre='Action'),
 Row(movieId=8531, title='White Chicks (2004)', genre='Action'),
 Row(movieId=8578, title='Undead (2003)', genre='Action'),
 Row(movieId=8593, title='Juice (1992)', genre='Action'),
 Row(movieId=8604, title='Taxi (1998)', genre='Action'),
 Row(movieId=8605, title='Taxi 3 (2003)', genre='Action'),
 Row(movieId=8633, title='Last Starfighter, The (1984)', genre='Action'),
 Row(movieId=8636, title='Spider-Man 2 (2004)', genre='Action'),
 Row(movieId=8640, title='King Arthur (2004)', genre='Action'),
 Row(movieId=8644, title='I, Robot (2004)', genre='Action'),
 Row(movieId=8665, title='Bourne Supremacy, The (2004)', genre='Action'),
 Row(movieId=8666, title='Catwoman (2004)', genre='Action'),
 Row(movieId=8677, title='Flash Gordon Conquers the Universe (1940)', genre='Action'),
 Row(movieId=8730, title='To End All Wars (2001)', genre='Action'),
 Row(movieId=8782, title='Thunderbirds (2004)', genre='Action'),
 Row(movieId=8795, title='Musa the Warrior (Musa) (2001)', genre='Action'),
 Row(movieId=8798, title='Collateral (2004)', genre='Action'),
 Row(movieId=8810, title='AVP: Alien vs. Predator (2004)', genre='Action'),
 Row(movieId=8832, title='Warriors of Heaven and Earth (Tian di ying xiong) (2003)', genre='Action'),
 Row(movieId=8860, title='Cellular (2004)', genre='Action'),
 Row(movieId=8861, title='Resident Evil: Apocalypse (2004)', genre='Action'),
 Row(movieId=8865, title='Sky Captain and the World of Tomorrow (2004)', genre='Action'),
 Row(movieId=8894, title='Orca: The Killer Whale (1977)', genre='Action'),
 Row(movieId=8908, title='Ladder 49 (2004)', genre='Action'),
 Row(movieId=8912, title='Taxi (2004)', genre='Action'),
 Row(movieId=8917, title='Team America: World Police (2004)', genre='Action'),
 Row(movieId=8937, title='Friday Night Lights (2004)', genre='Action'),
 Row(movieId=8961, title='Incredibles, The (2004)', genre='Action'),
 Row(movieId=8968, title='After the Sunset (2004)', genre='Action'),
 Row(movieId=8972, title='National Treasure (2004)', genre='Action'),
 Row(movieId=8977, title='Alexander (2004)', genre='Action'),
 Row(movieId=8983, title='House of Flying Daggers (Shi mian mai fu) (2004)', genre='Action'),
 Row(movieId=8984, title="Ocean's Twelve (2004)", genre='Action'),
 Row(movieId=8985, title='Blade: Trinity (2004)', genre='Action'),
 Row(movieId=25946, title='Three Musketeers, The (1948)', genre='Action'),
 Row(movieId=25962, title="King Solomon's Mines (1950)", genre='Action'),
 Row(movieId=26152, title='Batman (1966)', genre='Action'),
 Row(movieId=26159, title='Tokyo Drifter (Tôkyô nagaremono) (1966)', genre='Action'),
 Row(movieId=26169, title='Branded to Kill (Koroshi no rakuin) (1967)', genre='Action'),
 Row(movieId=26172, title='Point Blank (1967)', genre='Action'),
 Row(movieId=26183, title='Asterix and Cleopatra (Astérix et Cléopâtre) (1968)', genre='Action'),
 Row(movieId=26184, title='Diamond Arm, The (Brilliantovaya ruka) (1968)', genre='Action'),
 Row(movieId=26236, title='White Sun of the Desert, The (Beloe solntse pustyni) (1970)', genre='Action'),
 Row(movieId=26242, title='Duel (1971)', genre='Action'),
 Row(movieId=26322, title='Gone in 60 Seconds (1974)', genre='Action'),
 Row(movieId=26340, title="Twelve Tasks of Asterix, The (Les douze travaux d'Astérix) (1976)", genre='Action'),
 Row(movieId=26344, title='French Connection II (1975)', genre='Action'),
 Row(movieId=26375, title='Silver Streak (1976)', genre='Action'),
 Row(movieId=26399, title='Five Deadly Venoms (1978)', genre='Action'),
 Row(movieId=26401, title='Last Hurrah for Chivalry (Hao xia) (1979)', genre='Action'),
 Row(movieId=26413, title="Snake in the Eagle's Shadow (Se ying diu sau) (1978)", genre='Action'),
 Row(movieId=26464, title='Blue Thunder (1983)', genre='Action'),
 Row(movieId=26504, title='Cloak & Dagger (1984)', genre='Action'),
 Row(movieId=26547, title='Police Story (Ging chaat goo si) (1985)', genre='Action'),
 Row(movieId=26590, title='G.I. Joe: The Movie (1987)', genre='Action'),
 Row(movieId=26593, title='Hell Comes to Frogtown (1988)', genre='Action'),
 Row(movieId=26606, title='Chinese Ghost Story, A (Sinnui yauwan) (1987)', genre='Action'),
 Row(movieId=26614, title='Bourne Identity, The (1988)', genre='Action'),
 Row(movieId=26681, title='Bullet in the Head (1990)', genre='Action'),
 Row(movieId=26696, title='Lionheart (1990)', genre='Action'),
 Row(movieId=26701, title='Patlabor: The Movie (Kidô keisatsu patorebâ: The Movie) (1989)', genre='Action'),
 Row(movieId=26736, title='Riki-Oh: The Story of Ricky (Lik Wong) (1991)', genre='Action'),
 Row(movieId=26764, title='Captain America (1990)', genre='Action'),
 Row(movieId=26765, title='City Hunter (Sing si lip yan) (1993)', genre='Action'),
 Row(movieId=26792, title='Sidekicks (1992)', genre='Action'),
 Row(movieId=26819, title='Fortress (1992)', genre='Action'),
 Row(movieId=26828, title='Mr. Nanny (1993)', genre='Action'),
 Row(movieId=26840, title='Sonatine (Sonachine) (1993)', genre='Action'),
 Row(movieId=26854, title='Darkman II: Return of Durant, The (1995)', genre='Action'),
 Row(movieId=26865, title='Fist of Legend (Jing wu ying xiong) (1994)', genre='Action'),
 Row(movieId=26913, title='Street Fighter II: The Animated Movie (Sutorîto Faitâ II gekijô-ban) (1994)', genre='Action'),
 Row(movieId=26985, title='Nirvana (1997)', genre='Action'),
 Row(movieId=27002, title='From the Earth to the Moon (1998)', genre='Action'),
 Row(movieId=27003, title='Beowulf (1999)', genre='Action'),
 Row(movieId=27022, title='Thursday (1998)', genre='Action'),
 Row(movieId=27032, title='Who Am I? (Wo shi shei) (1998)', genre='Action'),
 Row(movieId=27036, title='Merlin (1998)', genre='Action'),
 Row(movieId=27134, title='Dark Portals: The Chronicles of Vidocq  (Vidocq) (2001)', genre='Action'),
 Row(movieId=27155, title='Batman/Superman Movie, The (1998)', genre='Action'),
 Row(movieId=27156, title='Neon Genesis Evangelion: The End of Evangelion (Shin seiki Evangelion Gekijô-ban: Air/Magokoro wo, kimi ni) (1997)', genre='Action'),
 Row(movieId=27193, title='Taxi 2 (2000)', genre='Action'),
 Row(movieId=27311, title='Batman Beyond: Return of the Joker (2000)', genre='Action'),
 Row(movieId=27328, title='Monday (2000)', genre='Action'),
 Row(movieId=27426, title='Accidental Spy, The (Dak miu mai shing) (2001)', genre='Action'),
 Row(movieId=27441, title='Blood: The Last Vampire (2000)', genre='Action'),
 Row(movieId=27480, title='Dead or Alive 2: Tôbôsha (2000)', genre='Action'),
 Row(movieId=27595, title='Jesus Christ Vampire Hunter (2001)', genre='Action'),
 Row(movieId=27618, title='Sound of Thunder, A (2005)', genre='Action'),
 Row(movieId=27660, title='Animatrix, The (2003)', genre='Action'),
 Row(movieId=27683, title='Tremors 4: The Legend Begins (2004)', genre='Action'),
 Row(movieId=27689, title="Crimson Rivers 2: Angels of the Apocalypse (Rivières pourpres II - Les anges de l'apocalypse, Les) (2004)", genre='Action'),
 Row(movieId=27692, title='And Starring Pancho Villa as Himself (2003)', genre='Action'),
 Row(movieId=27695, title='Nicotina (2003)', genre='Action'),
 Row(movieId=27704, title='Battle Royale 2: Requiem (Batoru rowaiaru II: Chinkonka) (2003)', genre='Action'),
 Row(movieId=27705, title='In Hell (2003)', genre='Action'),
 Row(movieId=27708, title='Helen of Troy (2003)', genre='Action'),
 Row(movieId=27728, title='Ghost in the Shell 2: Innocence (a.k.a. Innocence) (Inosensu) (2004)', genre='Action'),
 Row(movieId=27793, title='Starship Troopers 2: Hero of the Federation (2004)', genre='Action'),
 Row(movieId=27801, title='Ong-Bak: The Thai Warrior (Ong Bak) (2003)', genre='Action'),
 Row(movieId=27802, title='Infernal Affairs 2 (Mou gaan dou II) (2003)', genre='Action'),
 Row(movieId=27816, title='Saints and Soldiers (2003)', genre='Action'),
 Row(movieId=27837, title='Flight of the Phoenix (2004)', genre='Action'),
 Row(movieId=27865, title='Azumi (2003)', genre='Action'),
 Row(movieId=27869, title='Tae Guk Gi: The Brotherhood of War (Taegukgi hwinalrimyeo) (2004)', genre='Action'),
 Row(movieId=27905, title='Casshern (2004)', genre='Action'),
 Row(movieId=31101, title='Stander (2003)', genre='Action'),
 Row(movieId=31184, title='Appleseed (Appurushîdo) (2004)', genre='Action'),
 Row(movieId=31221, title='Elektra (2005)', genre='Action'),
 Row(movieId=31367, title='Chase, The (1994)', genre='Action'),
 Row(movieId=31420, title='Assault on Precinct 13 (2005)', genre='Action'),
 Row(movieId=31424, title='Alone in the Dark (2005)', genre='Action'),
 Row(movieId=31553, title='Double Dragon (1994)', genre='Action'),
 Row(movieId=31617, title='El Cid (1961)', genre='Action'),
 Row(movieId=31660, title='Steamboy (Suchîmubôi) (2004)', genre='Action'),
 Row(movieId=31664, title='Gorgeous (Boh lee chun) (1999)', genre='Action'),
 Row(movieId=31696, title='Constantine (2005)', genre='Action'),
 Row(movieId=31804, title='Night Watch (Nochnoy dozor) (2004)', genre='Action'),
 Row(movieId=31867, title='Man of the House (2005)', genre='Action'),
 Row(movieId=31878, title='Kung Fu Hustle (Gong fu) (2004)', genre='Action'),
 Row(movieId=31923, title='Three Musketeers, The (1973)', genre='Action'),
 Row(movieId=32017, title='Pacifier, The (2005)', genre='Action'),
 Row(movieId=32029, title='Hostage (2005)', genre='Action'),
 Row(movieId=32243, title='Stealing Rembrandt (Rembrandt) (2003)', genre='Action'),
 Row(movieId=32300, title='D.E.B.S. (2004)', genre='Action'),
 Row(movieId=32387, title='Sword of Doom, The (Dai-bosatsu tôge) (1966)', genre='Action'),
 Row(movieId=32440, title='If Looks Could Kill (1991)', genre='Action'),
 Row(movieId=32460, title="Knockin' on Heaven's Door (1997)", genre='Action'),
 Row(movieId=32511, title='Touch of Zen, A (Xia nu) (1971)', genre='Action'),
 Row(movieId=32587, title='Sin City (2005)', genre='Action'),
 Row(movieId=32596, title='Sahara (2005)', genre='Action'),
 Row(movieId=32632, title='Electra Glide in Blue (1973)', genre='Action'),
 Row(movieId=32898, title='Trip to the Moon, A (Voyage dans la lune, Le) (1902)', genre='Action'),
 Row(movieId=33132, title='State Property 2 (2005)', genre='Action'),
 Row(movieId=33158, title='xXx: State of the Union (2005)', genre='Action'),
 Row(movieId=33162, title='Kingdom of Heaven (2005)', genre='Action'),
 Row(movieId=33437, title='Unleashed (Danny the Dog) (2005)', genre='Action'),
 Row(movieId=33493, title='Star Wars: Episode III - Revenge of the Sith (2005)', genre='Action'),
 Row(movieId=33672, title='Lords of Dogtown (2005)', genre='Action'),
 Row(movieId=33679, title='Mr. & Mrs. Smith (2005)', genre='Action'),
 Row(movieId=33681, title='Adventures of Sharkboy and Lavagirl 3-D, The (2005)', genre='Action'),
 Row(movieId=33794, title='Batman Begins (2005)', genre='Action'),
 Row(movieId=33801, title='Godzilla: Final Wars (Gojira: Fainaru uôzu) (2004)', genre='Action'),
 Row(movieId=33834, title='Land of the Dead (2005)', genre='Action'),
 Row(movieId=34048, title='War of the Worlds (2005)', genre='Action'),
 Row(movieId=34150, title='Fantastic Four (2005)', genre='Action'),
 Row(movieId=34292, title='Hardware (1990)', genre='Action'),
 Row(movieId=34319, title='Island, The (2005)', genre='Action'),
 Row(movieId=34323, title="Devil's Rejects, The (2005)", genre='Action'),
 Row(movieId=34332, title='Sky High (2005)', genre='Action'),
 Row(movieId=34334, title='Stealth (2005)', genre='Action'),
 Row(movieId=34397, title='Order, The (2001)', genre='Action'),
 Row(movieId=34405, title='Serenity (2005)', genre='Action'),
 Row(movieId=34450, title='Miracles - Mr. Canton and Lady Rose (1989)', genre='Action'),
 Row(movieId=34520, title='Dukes of Hazzard, The (2005)', genre='Action'),
 Row(movieId=34534, title='Four Brothers (2005)', genre='Action'),
 Row(movieId=34536, title='The Great Raid (2005)', genre='Action'),
 Row(movieId=34811, title='Pusher II: With Blood on My Hands (2004)', genre='Action'),
 Row(movieId=36509, title='Cave, The (2005)', genre='Action'),
 Row(movieId=36519, title='Transporter 2 (2005)', genre='Action'),
 Row(movieId=36529, title='Lord of War (2005)', genre='Action'),
 Row(movieId=36850, title='Police Story 2 (Ging chaat goo si juk jaap) (1988)', genre='Action'),
 ...]