In [1]:
from pathlib import Path
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, split, explode
from pyspark.sql.types import StringType, IntegerType, BooleanType, FloatType, TimestampType

DATA_DIR = Path("data/ml-latest-small")

In [2]:
spark = SparkSession.builder\
    .master("local")\
    .appName("Word Count")\
    .getOrCreate()

In [3]:
# TODO: Spark schemas?
def read_df(file: str, types: dict):
    df = spark.read\
        .format("csv")\
        .option("header", "true")\
        .load(str(DATA_DIR / file))
    return set_dtypes(df, types)

def set_dtypes(df, types: dict):
    for column, dtype in types.items():
        dtype = {
            str: StringType(),
            int: IntegerType(),
            float: FloatType(),
            bool: BooleanType(),
            "time": TimestampType() 
        }[dtype]
        df = df.withColumn(column, col(column).cast(dtype))
    return df

df_links = read_df("links.csv", {
    "movieId": int,
    "imdbId": int,
    "tmdbId": int
})
df_movies = read_df("movies.csv", {
    "movieId": int,
    "title": str,
    "genres": str
})
df_ratings = read_df("ratings.csv", {
    "userId": int,
    "movieId": int,
    "rating": float,
    "timestamp": "time"
})
df_tags = read_df("tags.csv", {
    "userId": int,
    "movieId": int,
    "tag": str,
    "timestamp": "time"
})

In [4]:
df_genres = df_movies.select(df_movies.movieId, split(df_movies.genres, "\|").alias("genres"))
df_genres = df_genres.select(df_genres.movieId, explode(df_genres.genres).alias("genre"))

In [5]:
# Search user by id, show the number of movies/genre that he/she has watched
def search_user(user_id: int):
    rated_movies = df_ratings.where(f"userId = {user_id}").select("movieId").distinct()
    tagged_movies = df_tags.where(f"userId = {user_id}").select("movieId").distinct()
    movies = rated_movies.union(tagged_movies).distinct().join(df_movies, on=["movieId"], how="inner")
    movies = movies.select(movies.movieId, explode(split(movies.genres, "\|")).alias("genre"))
    movies = movies.groupBy("genre").count()
    return movies.collect()
search_user(1)

[Row(genre='Crime', count=45),
 Row(genre='Romance', count=26),
 Row(genre='Thriller', count=55),
 Row(genre='Adventure', count=85),
 Row(genre='Drama', count=68),
 Row(genre='War', count=22),
 Row(genre='Fantasy', count=47),
 Row(genre='Mystery', count=18),
 Row(genre='Musical', count=22),
 Row(genre='Animation', count=29),
 Row(genre='Film-Noir', count=1),
 Row(genre='Horror', count=17),
 Row(genre='Western', count=7),
 Row(genre='Comedy', count=83),
 Row(genre='Children', count=42),
 Row(genre='Action', count=90),
 Row(genre='Sci-Fi', count=40)]

In [25]:
# Given a list of users, search all movies watched by each user
def search_movies_by_user(user_ids: [str]):
    rated_movies = df_ratings.filter(df_ratings.userId.isin(user_ids)).select("movieId")
    tagged_movies = df_tags.filter(df_tags.userId.isin(user_ids)).select("movieId")
    movies = rated_movies.union(tagged_movies).join(df_movies, on=["movieId"], how="inner")
    movies = movies.groupBy("title").count()
    return movies.collect()
search_movies_by_user([1, 21])

st Men (1997)', count=1),
 Row(title='Star Wars: Episode VI - Return of the Jedi (1983)', count=2),
 Row(title='Lethal Weapon 4 (1998)', count=1),
 Row(title='Tombstone (1993)', count=1),
 Row(title='Terminator, The (1984)', count=2),
 Row(title='Song of the South (1946)', count=1),
 Row(title='Gladiator (2000)', count=2),
 Row(title='Desperado (1995)', count=1),
 Row(title='JFK (1991)', count=1),
 Row(title='Die Hard: With a Vengeance (1995)', count=1),
 Row(title='Terminal, The (2004)', count=1),
 Row(title='National Treasure (2004)', count=1),
 Row(title='American Pie Presents The Naked Mile (American Pie 5: The Naked Mile) (2006)', count=1),
 Row(title='Horrible Bosses 2 (2014)', count=1),
 Row(title='Wild Things (1998)', count=1),
 Row(title='Fantastic Four (2005)', count=1),
 Row(title='Big Eyes (2014)', count=1),
 Row(title='Teenage Mutant Ninja Turtles III (1993)', count=1),
 Row(title='For Your Eyes Only (1981)', count=1),
 Row(title="Pirates of the Caribbean: At World's End (2007)", count=1),
 Row(title='Goonies, The (1985)', count=1),
 Row(title='Sixth Sense, The (1999)', count=1),
 Row(title='Grumpier Old Men (1995)', count=1),
 Row(title='Fight Club (1999)', count=2),
 Row(title='Terminator 2: Judgment Day (1991)', count=1),
 Row(title='Pink Floyd: The Wall (1982)', count=1),
 Row(title='Star Wars: Episode IV - A New Hope (1977)', count=2),
 Row(title='X-Men: Days of Future Past (2014)', count=1),
 Row(title='Wizard of Oz, The (1939)', count=1),
 Row(title='Home Alone (1990)', count=1),
 Row(title='Mission: Impossible (1996)', count=2),
 Row(title='Predator 2 (1990)', count=1),
 Row(title='Die Another Day (2002)', count=1),
 Row(title='Drinking Buddies (2013)', count=1),
 Row(title='Harry Potter and the Deathly Hallows: Part 2 (2011)', count=1),
 Row(title='Lock, Stock & Two Smoking Barrels (1998)', count=1),
 Row(title='Wallace & Gromit in The Curse of the Were-Rabbit (2005)', count=1),
 Row(title='Bourne Ultimatum, The (2007)', count=1),
 Row(title='Seven (a.k.a. Se7en) (1995)', count=1),
 Row(title='Indiana Jones and the Last Crusade (1989)', count=2),
 Row(title='Labyrinth (1986)', count=1),
 Row(title='Green Mile, The (1999)', count=1),
 Row(title='Dennis the Menace (1993)', count=1),
 Row(title='Hellboy II: The Golden Army (2008)', count=1),
 Row(title='X-Files: Fight the Future, The (1998)', count=1),
 Row(title='Idiocracy (2006)', count=1),
 Row(title='Conan the Barbarian (1982)', count=1),
 Row(title='Last Samurai, The (2003)', count=1),
 Row(title='Sherlock Holmes (2009)', count=1),
 Row(title='Monsters University (2013)', count=1),
 Row(title='Avengers: Age of Ultron (2015)', count=1),
 Row(title='Ghost and the Darkness, The (1996)', count=1),
 Row(title='Catch Me If You Can (2002)', count=1),
 Row(title="Twelve Tasks of Asterix, The (Les douze travaux d'Ast√©rix) (1976)", count=1),
 Row(title="Bug's Life, A (1998)", count=1),
 Row(title='Cruel Intentions (1999)', count=1),
 Row(title='Bourne Legacy, The (2012)', count=1),
 Row(title='Pitch Perfect (2012)', count=1),
 Row(title='Pitch Perfect 2 (2015)', count=1),
 Row(title='Shining, The (1980)', count=1),
 Row(title='Frankenstein (1931)', count=1),
 Row(title='Mortal Kombat (1995)', count=1),
 Row(title='Thomas Crown Affair, The (1999)', count=1),
 Row(title='Miss Congeniality 2: Armed and Fabulous (2005)', count=1),
 Row(title='Mission: Impossible III (2006)', count=1),
 Row(title='Flintstones, The (1994)', count=1),
 Row(title='Peter Pan (1953)', count=1),
 Row(title='Godfather: Part II, The (1974)', count=1),
 Row(title='Inception (2010)', count=1),
 Row(title='American Hustle (2013)', count=1),
 Row(title='Captain America: The First Avenger (2011)', count=1),
 Row(title='Edge of Tomorrow (2014)', count=1),
 Row(title='Ghost and Mrs. Muir, The (1947)', count=1),
 Row(title='NeverEnding Story, The (1984)', count=1),
 Row(title='Fifth Element, The (1997)', count=1),
 Row(title='Toy Story 2 (1999)', count=1),
 Row(title='How the Grinch Stole Christmas (a.k.a. The Grinch) (2000)', count=1),
 Row(title='Knocked Up (2007)', count=1),
 Row(title='Goldfinger (1964)', count=2),
 Row(title='Don Jon (2013)', count=1),
 Row(title='Total Recall (1990)', count=2),
 Row(title='Sister Act (1992)', count=1),
 Row(title='Paul Blart: Mall Cop 2 (2015)', count=1),
 Row(title="Schindler's List (1993)", count=1),
 Row(title='Night at the Museum (2006)', count=1),
 Row(title='Hobbit: The Desolation of Smaug, The (2013)', count=1),
 Row(title='The Imitation Game (2014)', count=1),
 Row(title='Grown Ups (2010)', count=1),
 Row(title='Amazing Spider-Man, The (2012)', count=1),
 Row(title='Longest Day, The (1962)', count=1),
 Row(title='Ghostbusters II (1989)', count=1),
 Row(title='Good Will Hunting (1997)', count=1),
 Row(title='Runaway Bride (1999)', count=1),
 Row(title='Ice Age (2002)', count=1),
 Row(title='Click (2006)', count=1),
 Row(title='District 9 (2009)', count=1),
 Row(title='A-Team, The (2010)', count=1),
 Row(title='Welcome to the Jungle (2013)', count=1),
 Row(title='Clerks (1994)', count=1),
 Row(title='Silence of the Lambs, The (1991)', count=1),
 Row(title='Superman II (1980)', count=1),
 Row(title='Frozen (2013)', count=1),
 Row(title='Good Morning, Vietnam (1987)', count=1),
 Row(title='Live Free or Die Hard (2007)', count=1),
 Row(title='Apocalypse Now (1979)', count=1),
 Row(title="Ocean's Twelve (2004)", count=1),
 Row(title='Groundhog Day (1993)', count=2),
 Row(title='Blade II (2002)', count=1),
 Row(title='Proposal, The (2009)', count=1),
 Row(title='Spectre (2015)', count=1),
 Row(title='Casino Royale (1967)', count=1),
 Row(title='Mamma Mia! (2008)', count=1),
 Row(title='The Interview (2014)', count=2),
 Row(title='Blade Runner (1982)', count=1),
 Row(title='Shrek (2001)', count=1),
 Row(title='Hancock (2008)', count=1),
 Row(title='Way, Way Back, The (2013)', count=1),
 Row(title='Delivery Man (2013)', count=1),
 Row(title='Star Wars: Episode VII - The Force Awakens (2015)', count=1),
 Row(title='Transporter, The (2002)', count=1),
 Row(title='Pacific Rim (2013)', count=1),
 Row(title='Winnie the Pooh and the Blustery Day (1968)', count=1),
 Row(title='Psycho (1998)', count=1),
 Row(title='Star Wars: Episode I - The Phantom Menace (1999)', count=2),
 Row(title='Naked Gun 33 1/3: The Final Insult (1994)', count=1),
 Row(title='Resident Evil (2002)', count=1),
 Row(title='Ant-Man (2015)', count=1),
 Row(title='Sneakers (1992)', count=1),
 Row(title='RoboCop (1987)', count=2),
 Row(title='Ice Age: Dawn of the Dinosaurs (2009)', count=1),
 Row(title='Fargo (1996)', count=1),
 Row(title='Rush Hour (1998)', count=2),
 Row(title='Messenger: The Story of Joan of Arc, The (1999)', count=1),
 Row(title='Muppet Christmas: Letters to Santa, A (2008)', count=1),
 Row(title='Tron (1982)', count=1),
 Row(title='Iron Man 2 (2010)', count=1),
 Row(title='Decoy Bride, The (2011)', count=1),
 Row(title='Ed Wood (1994)', count=1),
 Row(title='Adventures of Robin Hood, The (1938)', count=1),
 Row(title='Multiplicity (1996)', count=1),
 Row(title='Wallace & Gromit: The Wrong Trousers (1993)', count=1),
 Row(title='Simpsons: The Longest Daycare, The (2012)', count=1),
 Row(title='Return to Oz (1985)', count=1),
 Row(title='Red Dawn (1984)', count=1),
 Row(title='Aladdin (1992)', count=1),
 Row(title='Lord of the Rings: The Two Towers, The (2002)', count=1),
 Row(title='Pride & Prejudice (2005)', count=1),
 Row(title='Tourist, The (2010)', count=1),
 Row(title='Limitless (2011)', count=1),
 Row(title='Internship, The (2013)', count=1),
 Row(title='Escape Plan (2013)', count=1),
 Row(title='Goodfellas (1990)', count=1),
 Row(title='Bad Boys (1995)', count=1),
 Row(title='Moonraker (1979)', count=1),
 Row(title='National Treasure: Book of Secrets (2007)', count=1),
 Row(title='Bottle Rocket (1996)', count=1),
 Row(title='20 Dates (1998)', count=1),
 Row(title='Love Actually (2003)', count=1),
 Row(title='Iron Man 3 (2013)', count=1),
 Row(title='Kiss the Girls (1997)', count=1),
 Row(title='Inside Out (2015)', count=1),
 Row(title='Game, The (1997)', count=1),
 Row(title='North Pole: Open For Christmas (2015)', count=1),
 Row(title='Batman (1989)', count=2),
 Row(title='Pocahontas (1995)', count=1),
 Row(title='Aliens (1986)', count=1),
 Row(title='About Time (2013)', count=1),
 Row(title='Thunderball (1965)', count=2),
 Row(title='Blazing Saddles (1974)', count=1),
 Row(title='Princess Mononoke (Mononoke-hime) (1997)', count=1),
 Row(title='Small Soldiers (1998)', count=1),
 Row(title='Sin City (2005)', count=1),
 Row(title='War of the Worlds (2005)', count=1),
 Row(title='Winnie the Pooh and the Honey Tree (1966)', count=1),
 Row(title='Transformers: Dark of the Moon (2011)', count=1),
 Row(title='Quiet Man, The (1952)', count=1),
 Row(title='Live and Let Die (1973)', count=2),
 Row(title='Transformers: The Movie (1986)', count=1),
 Row(title="On Her Majesty's Secret Service (1969)", count=1),
 Row(title='Star Wars: Episode II - Attack of the Clones (2002)', count=1),
 Row(title='Night at the Museum: Secret of the Tomb (2014)', count=1),
 Row(title='Who Framed Roger Rabbit? (1988)', count=1),
 Row(title='Men in Black II (a.k.a. MIIB) (a.k.a. MIB 2) (2002)', count=1),
 Row(title='Arrival (2016)', count=1),
 Row(title="Breakfast at Tiffany's (1961)", count=1),
 Row(title='Men in Black III (M.III.B.) (M.I.B.¬≥) (2012)', count=1),
 Row(title='Dumbo (1941)', count=1),
 Row(title='Harry Potter and the Prisoner of Azkaban (2004)', count=1),
 Row(title='Films to Keep You Awake: The Christmas Tale (Pel√≠culas para no dormir: Cuento de navidad) (2005)', count=1),
 Row(title='Dragon Ball Z: The History of Trunks (Doragon b√¥ru Z: Zetsub√¥ e no hank√¥!! Nokosareta ch√¥ senshi - Gohan to Torankusu) (1993)', count=1),
 Row(title='Bambi (1942)', count=1),
 Row(title='Nightmare Before Christmas, The (1993)', count=1),
 Row(title='Harry Potter and the Goblet of Fire (2005)', count=1),
 Row(title='Ratatouille (2007)', count=1),
 Row(title='Wedding Singer, The (1998)', count=1),
 Row(title='Dennis the Menace Christmas, A (2007)', count=1),
 Row(title='Office Christmas Party (2016)', count=1),
 Row(title='Minions (2015)', count=1),
 Row(title='The Little Prince (2015)', count=1),
 Row(title="She's the One (1996)", count=1),
 Row(title='Thor: The Dark World (2013)', count=1),
 Row(title='Sing (2016)', count=1),
 Row(title='Lost World: Jurassic Park, The (1997)', count=1),
 Row(title='Three Musketeers, The (1993)', count=1),
 Row(title='Da Vinci Code, The (2006)', count=1),
 Row(title='Escape to Witch Mountain (1975)', count=1),
 Row(title='Planet of the Apes (1968)', count=2),
 Row(title='View to a Kill, A (1985)', count=1),
 Row(title="McHale's Navy (1997)", count=1),
 Row(title='Lethal Weapon (1987)', count=2),
 Row(title='Being John Malkovich (1999)', count=1),
 Row(title='American Beauty (1999)', count=2),
 Row(title='World Is Not Enough, The (1999)', count=1),
 Row(title='American Pie 2 (2001)', count=1),
 Row(title='Chronicles of Narnia: The Lion, the Witch and the Wardrobe, The (2005)', count=1),
 Row(title='Her (2013)', count=1),
 Row(title='Monsters, Inc. (2001)', count=1),
 Row(title="Look Who's Talking Too (1990)", count=1),
 Row(title='Music and Lyrics (2007)', count=1),
 Row(title='Kung Fu Panda (2008)', count=1),
 Row(title='2 Guns (2013)', count=1),
 Row(title='Bridge of Spies (2015)', count=1),
 Row(title='Enemy of the State (1998)', count=1),
 Row(title='X-Men (2000)', count=2),
 Row(title='Back to the Future Part II (1989)', count=1),
 Row(title='Charlie and the Chocolate Factory (2005)', count=1),
 Row(title='2012 (2009)', count=1),
 Row(title="We're the Millers (2013)", count=1),
 Row(title='Bad Asses (Bad Ass 2) (2014)', count=1),
 Row(title='Ghostbusters (a.k.a. Ghost Busters) (1984)', count=2),
 Row(title='Shrek 2 (2004)', count=1),
 Row(title='Meet the Fockers (2004)', count=1),
 Row(title='Star Wars: Episode V - The Empire Strikes Back (1980)', count=2),
 Row(title='Kingsman: The Secret Service (2015)', count=1),
 Row(title='How to Make Love Like an Englishman (2014)', count=1),
 Row(title='Heat (1995)', count=1),
 Row(title='Austin Powers: The Spy Who Shagged Me (1999)', count=1),
 Row(title='Final Fantasy: The Spirits Within (2001)', count=1),
 Row(title='RoboCop (2014)', count=1),
 Row(title='Maze Runner, The (2014)', count=1),
 Row(title='Willy Wonka & the Chocolate Factory (1971)', count=1),
 Row(title='Batman Returns (1992)', count=1),
 Row(title='Encino Man (1992)', count=1),
 Row(title='Basic Instinct (1992)', count=1),
 Row(title='Phantom of the Opera, The (2004)', count=1),
 Row(title='Hitch (2005)', count=1),
 Row(title='Leap Year (2010)', count=1),
 Row(title='Django Unchained (2012)', count=1),
 Row(title='Veronica Mars (2014)', count=1),
 Row(title='How to Train Your Dragon 2 (2014)', count=1),
 Row(title='Toy Story (1995)', count=2),
 Row(title='Full Metal Jacket (1987)', count=1),
 Row(title='American Pie (1999)', count=1),
 Row(title='Minority Report (2002)', count=1),
 Row(title='X-Men: First Class (2011)', count=1),
 Row(title='Avengers, The (2012)', count=1),
 Row(title='Trainwreck (2015)', count=1),
 Row(title="Wayne's World (1992)", count=2),
 Row(title='Toy Story 3 (2010)', count=1),
 Row(title='Stretch (2014)', count=1),
 Row(title='Penguins of Madagascar (2014)', count=1),
 Row(title='Godfather, The (1972)', count=1),
 Row(title='I, Robot (2004)', count=1),
 Row(title='Jungle Book, The (1967)', count=1),
 Row(title='Big (1988)', count=1),
 Row(title='Robin Hood (1973)', count=1),
 Row(title='Titanic (1997)', count=1),
 Row(title='Matrix, The (1999)', count=2),
 Row(title='Rocky Horror Picture Show, The (1975)', count=1),
 Row(title='Spider-Man (2002)', count=1),
 Row(title='Jungle Book, The (1994)', count=1),
 Row(title='Face/Off (1997)', count=2),
 Row(title="Ocean's Eleven (2001)", count=1),
 Row(title="It's a Very Merry Muppet Christmas Movie (2002)", count=1),
 Row(title='Other Guys, The (2010)', count=1),
 Row(title='Burnt (2015)', count=1),
 Row(title='Austin Powers: International Man of Mystery (1997)', count=1),
 Row(title='Con Air (1997)', count=1),
 Row(title='Dirty Dozen, The (1967)', count=1),
 Row(title='Four Christmases (2008)', count=1),
 Row(title='Pulp Fiction (1994)', count=2),
 Row(title='South Park: Bigger, Longer and Uncut (1999)', count=2),
 Row(title='Fugitive, The (1993)', count=1),
 Row(title='Harry Potter and the Deathly Hallows: Part 1 (2010)', count=1),
 Row(title='Braveheart (1995)', count=1),
 Row(title='Clear and Present Danger (1994)', count=1),
 Row(title='Excalibur (1981)', count=1),
 Row(title='Ice Age 2: The Meltdown (2006)', count=1),
 Row(title='Taken (2008)', count=1),
 Row(title='Captain America: The Winter Soldier (2014)', count=1),
 Row(title='A Million Ways to Die in the West (2014)', count=1),
 Row(title='Guardians of the Galaxy (2014)', count=1),
 Row(title='Legend (1985)', count=1),
 Row(title='Spy Who Loved Me, The (1977)', count=1),
 Row(title='Terminator Salvation (2009)', count=1),
 Row(title='Alice in Wonderland (2010)', count=1),
 Row(title="Logan's Run (1976)", count=1),
 Row(title="Ocean's Thirteen (2007)", count=1),
 Row(title='Ice Age: A Mammoth Christmas (2011)', count=1),
 Row(title='Panic Room (2002)', count=1),
 Row(title='Canadian Bacon (1995)', count=1),
 Row(title='Jurassic Park III (2001)', count=1),
 Row(title='The DUFF (2015)', count=1),
 Row(title="My Best Friend's Wedding (1997)", count=2),
 Row(title='Space Jam (1996)', count=1),
 Row(title='Pretty Woman (1990)', count=1),
 Row(title='Godfather: Part III, The (1990)', count=1),
 Row(title='Harry Potter and the Chamber of Secrets (2002)', count=1),
 Row(title='Jurassic Park (1993)', count=2),
 Row(title='Young Sherlock Holmes (1985)', count=1),
 Row(title='Road Warrior, The (Mad Max 2) (1981)', count=1),
 Row(title='Madagascar (2005)', count=1),
 Row(title='Twister (1996)', count=1),
 Row(title='Rise of the Planet of the Apes (2011)', count=1),
 Row(title='Iron Man (2008)', count=1),
 Row(title='Skyfall (2012)', count=1),
 Row(title='Life of Pi (2012)', count=1),
 Row(title="Pete's Dragon (1977)", count=1),
 Row(title='All Quiet on the Western Front (1930)', count=1),
 Row(title='John Wick (2014)', count=1),
 Row(title='Welcome to Woop-Woop (1997)', count=1),
 Row(title='Sleeping Beauty (1959)', count=1),
 Row(title='Kill Bill: Vol. 1 (2003)', count=1),
 Row(title='Book of Eli, The (2010)', count=1),
 Row(title='Kick-Ass (2010)', count=1),
 Row(title='Mission: Impossible - Ghost Protocol (2011)', count=1),
 Row(title='Divergent (2014)', count=1),
 Row(title='Wedding Date, The (2005)', count=1),
 Row(title='No Reservations (2007)', count=1),
 Row(title='Rob Roy (1995)', count=1),
 Row(title='Bourne Supremacy, The (2004)', count=1),
 Row(title='Indiana Jones and the Kingdom of the Crystal Skull (2008)', count=1),
 Row(title='Night at the Museum: Battle of the Smithsonian (2009)', count=1),
 Row(title='Mad Max: Fury Road (2015)', count=1),
 Row(title='Coming to America (1988)', count=1),
 Row(title='Elysium (2013)', count=1),
 Row(title='Christmas Carol, A (1977)', count=1),
 Row(title='Rocky (1976)', count=1),
 Row(title='Ladyhawke (1985)', count=1),
 Row(title='Lord of the Rings: The Fellowship of the Ring, The (2001)', count=1),
 Row(title='Lone Ranger, The (2013)', count=1),
 Row(title='Mission: Impossible - Rogue Nation (2015)', count=1),
 Row(title='Dogma (1999)', count=1),
 Row(title='Modern Times (1936)', count=1),
 Row(title='White House Down (2013)', count=1),
 Row(title='Crocodile Dundee (1986)', count=1),
 Row(title='Lethal Weapon 3 (1992)', count=1),
 Row(title='Bruce Almighty (2003)', count=1),
 Row(title='Collateral (2004)', count=1),
 Row(title='Transporter 2 (2005)', count=1),
 Row(title='I Know What You Did Last Summer (1997)', count=1),
 Row(title='Mr. & Mrs. Smith (2005)', count=1),
 Row(title='Blind Side, The  (2009)', count=1),
 Row(title='Rewrite, The (2014)', count=1),
 Row(title='Dazed and Confused (1993)', count=1),
 Row(title='Three Caballeros, The (1945)', count=1),
 Row(title='Thin Red Line, The (1998)', count=1),
 Row(title='Naked Gun: From the Files of Police Squad!, The (1988)', count=1),
 Row(title='Secret Life of Walter Mitty, The (2013)', count=1),
 Row(title='Interstellar (2014)', count=1),
 Row(title='Grosse Pointe Blank (1997)', count=1),
 Row(title='Monty Python and the Holy Grail (1975)', count=1),
 Row(title='How to Lose a Guy in 10 Days (2003)', count=1),
 Row(title="Hitchhiker's Guide to the Galaxy, The (2005)", count=1),
 Row(title='Wreck-It Ralph (2012)', count=1),
 Row(title='From Dusk Till Dawn (1996)', count=1),
 Row(title='Matrix Revolutions, The (2003)', count=1),
 Row(title='Dark Knight Rises, The (2012)', count=1),
 Row(title='The Hunger Games: Mockingjay - Part 2 (2015)', count=1),
 Row(title='Claymation Christmas Celebration, A (1987)', count=1),
 Row(title='Born to Kill (1947)', count=1),
 Row(title='Hangover, The (2009)', count=1),
 Row(title="King's Speech, The (2010)", count=1),
 Row(title='Bourne Identity, The (2002)', count=1),
 Row(title="Dr. Horrible's Sing-Along Blog (2008)", count=1),
 Row(title='Up (2009)', count=1),
 Row(title='Dances with Wolves (1990)', count=1),
 Row(title='The Lego Movie (2014)', count=1),
 Row(title='La La Land (2016)', count=1),
 Row(title='Social Network, The (2010)', count=1),
 Row(title='Platoon (1986)', count=1),
 Row(title='American History X (1998)', count=1),
 Row(title='American Pie Presents Beta House (American Pie 6: Beta House) (2007)', count=1),
 Row(title='Never Say Never Again (1983)', count=1),
 Row(title='Teenage Mutant Ninja Turtles II: The Secret of the Ooze (1991)', count=1),
 Row(title='Die Hard (1988)', count=1),
 Row(title='Die Hard 2 (1990)', count=1),
 Row(title='The Amazing Spider-Man 2 (2014)', count=1),
 Row(title='Ted 2 (2015)', count=1),
 Row(title='10 Cent Pistol (2015)', count=1),
 Row(title='The Madagascar Penguins in a Christmas Caper (2005)', count=1),